<div class="w-1/2 lg:w-full">
    {% if blog.articleTags.size > 0 %}
        <h4 class="mb-2 text-lg">{{ 'Related topics' | t }}</h4>
        <div class="flex gap-2">
     	    {% for tag in blog.articleTags  %}
                <a class="badge badge-accent badge-soft" href="{{ blogs[article.blog] | url}}?tags={{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>        
    {% endif %}
    <h4 class="mt-8 mb-4 text-lg">{{ 'Recent Articles' | t }}</h4>
    {% assign current_article_id = article.id %}
    {% for article in blog.articles limit:6 %}
        <p class="mb-4 flex flex-col">
            <time class="text-xs" pubdate datetime="{{ article.publishAt | date }}">{{ article.publishAt | date }}</time>  
            {% if current_article_id == article.id %}
                <span class="text-md">{{ article.title }}</span>
            {% else %}
                <a class="link text-md font-bold" href="{{ article | url }}">{{ article.title }}</a>
            {% endif %}
        </p>
    {% endfor %}
    {% if settings.blogFeeds %}
        <h4 class="mt-8 mb-2 text-lg">{{ 'Stay up to date' | t }}</h4>
        <small class="feeds"><a class="link" href="/blogs/{{ blog.handle }}/rss.xml" target="_blank" alt="RSS-feed">{{ 'RSS feed' | t }}</a> {{ 'and' | t }} <a class="link" href="/blogs/{{ blog.handle }}/atom.xml" target="_blank" alt="Atom-feed">{{ "Atom feed" | t}}</a></small>
    {% endif %}
</div>

