<div class="card {{ settings.general_shadow }} bg-base-200">
   {% unless article.image == empty %}
  <figure>
      <img src="{{ article | img_url:0,500 }}" alt="{{ article.image.alt }}" />
  </figure>
  {% endunless %}
  <div class="card-body">
    <div class="text-right">{% if article.tags.size > 0 %}
        {% for tag in article.tags %}
            <div class="mr-1 mb-1 badge badge-accent">
                <a href="{{blog | url}}?tags={{ tag }}">{{ tag }}</a>
            </div>
        {% endfor %}
    {% endif %}</div>
    <h2 class="card-title">
      {{ article.title }}
    </h2>
    <div class="text-sm">{% if article.author != blank %}{{ article.author }} on {% endif %}<time pubdate datetime="{{ article.publishAt | date }}">{{ article.publishAt | date }}</time></div>
    {% let excerpt_text = article.excerpt | strip_html %}
		{% unless excerpt_text == "" %}
			<p class="mt-4">{{ article.excerpt | strip_html }}</p>
		{% else %}
			<p class="mt-4">{{ article.content | strip_html | truncatewords: 100 }}</p>
		{% endunless %}
    <div class="card-actions justify-end">
      <a class="btn bg-primary text-primary-content" href="{{ article | url }}">{{ lang.read_more | def:'Read' }}</a>
    </div>
  </div>
</div>
