<fieldset class="p-4 pt-0 text-sm">
    <div class="flex flex-row mb-4">
        <p>{{ 'Items total' | t:'checkout' }}</p>
        <div class="ml-auto font-bold">{{ cart.amount.total | money }}</div>
    </div>
    {% if form.shipping %}
    <div class="flex flex-row mb-4">
        <p>{{ 'Shipping' | t:'checkout' }} <span class="text-sm">({{ form.shipping.carrierName }})</span></p>
        <div class="ml-auto">{{ cart.selectedShipping.cost.total | money }}</div>
    </div>
    {% endif %}
    {% if form.discounts != empty %}
        <div class="mb-2">
            {% for discount in form.discounts %}
            <div class="flex flex-row">
                <p class="mb-1">{{ discount.title | t:'checkout' }}
                {% if discount.coupon != blank %}
                    <span class="badge badge-sm badge-outline border-dashed">{{discount.coupon}}</span>
                {% endif %}
                </p>
                <div class="ml-auto">-{{ discount.value | money }}</div>
            </div>
            {% endfor %}            
        </div>
    {% endif %}
    <div class="flex flex-row mt-2">
        <p class="text-lg"><span class="font-bold">{{ 'Total amount' | t:'checkout' }} </span>{% if form.totalVAT > 0 %}<span class="text-sm">({{ 'incl. VAT' | t:'checkout' }})</span>{% endif %}</p>
        <p class="ml-auto font-bold text-lg">{{ form.totalAmount | money_with_currency }}</p>
    </div>
</fieldset>
