<div id="main-content" class="hero min-h-{{ settings.header_otf_height }}" style="background-image: url({{ settings.header_otf_image | asset_img_url:1024,0 }});">
    {% if settings.headerOtfVideo %}
    <video autoplay loop muted>
        <source src="{{ settings.headerOtfVideo | asset_url }}" type="video/mp4">
        Your browser does not support the video tag
    </video>   
    {% endif %}
  <div class="hero-content text-center rounded-box p-4 pt-8 lg:p-8{{ settings.header_otf_glass }}">
    <div class="max-w-xl">
      {% if settings.header_otf_title %}
        <h1 class="mt-14 mb-5 text-5xl font-bold">{{ settings.header_otf_title | t:'index' }}</h1>
      {% endif %}
      {% if settings.header_otf_text %}
        <p class="mb-5">{{ settings.header_otf_text | t:'index' }}</p>
      {% endif %}
      {% if settings.header_otf_fgimage.size > 0 %}
        <img class="mx-auto mb-5" src="{{ settings.header_otf_fgimage | asset_img_url:450,0 }}">
      {% endif %}
      {% if settings.header_otf_button_link and settings.header_otf_button_text %}
        <a class="btn btn-primary" href="{{ settings.header_otf_button_link }}">{{ settings.header_otf_button_text | t:'index' }}</a>
      {% endif %}
    </div>
  </div>
</div>
{% if settings.headerOtfVideo %}
<style>
#main-content {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  place-content: center;
}
#main-content video {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  object-fit:cover;
}
.hero-content {
  z-index:10;
} 
</style>
{% endif %}
