<div class="card {{ settings.general_shadow }} bg-base-100">
  <a href="{{ product | url }}">
       {% if product.featuredImage %}
      <figure>
          <img class="{{ settings.col_card_img_height }}" src="{{ product.featuredImage | product_img_url:0,500 }}" alt="{{ product.featuredImage.alt }}" />
      </figure>
      {% endif %}
      <div class="card-body justify-between">
        <div class="flex flex-col">
            <h3 class="card-title text-base">
                {{ product.meta.h1 }}
            </h3>
            <div class="text-left">
                {% if product.variants.size > 1 and product.priceMin < product.priceMax %}
                    <span class="ml-1 {% if product.compareAtPriceMin > product.priceMin %}font-bold text-red-400{% endif %}">
                        {{ product.priceMin | money }}
                    </span>
                    &dash;
                    <span class="ml-1 {% if product.compareAtPriceMax > product.priceMax %}font-bold text-red-400{% endif %}">
                        {{ product.priceMax | money }}
                    </span>
                {% else %}
                    <span class="{% if product.compareAtPrice > product.price %}font-bold text-red-400{% endif %}">{{ product.price | money }}</span>
                {% endif %}
            </div>
        </div>
        <div class="card-actions justify-end">
          <a class="btn btn-accent btn-sm" href="{{ product | url }}">Read more</a>
        </div>
      </div>
  </a>
</div>