{% assign maxPrice = collection.productPriceMax %}

{% assign selectedTagsString = "," %}
{% assign selectedVendorsString = "," %}
{% assign selectedPriceMinimum = "" %}
{% assign selectedPriceMaximum = "" %}

{% assign queryParameters = request.query | split: "&" %}
{% for parameter in queryParameters %}
  {% if parameter == "" %}{% continue %}{% endif %}
  {% assign keyValuePair = parameter | split: "=" %}
  {% assign parameterKey = keyValuePair[0] | downcase %}
  {% assign parameterValue = keyValuePair[1] | default: "" %}
  {% assign parameterValue = parameterValue | replace: "%2C", "," | url_decode | strip %}

  {% case parameterKey %}
    {% when "tags" %}
      {% assign tagParts = parameterValue | split: "," %}
      {% for tagPart in tagParts %}
        {% assign cleanedTag = tagPart | strip %}
        {% unless cleanedTag == "" %}
          {% assign wrappedTag = "," | append: cleanedTag | append: "," %}
          {% unless selectedTagsString contains wrappedTag %}
            {% assign selectedTagsString = selectedTagsString | append: cleanedTag | append: "," %}
          {% endunless %}
        {% endunless %}
      {% endfor %}
    {% when "vendor" %}
      {% assign vendorParts = parameterValue | split: "," %}
      {% for vendorPart in vendorParts %}
        {% assign cleanedVendor = vendorPart | strip %}
        {% unless cleanedVendor == "" %}
          {% assign wrapped_vendor = "," | append: cleanedVendor | append: "," %}
          {% unless selectedVendorsString contains wrapped_vendor %}
            {% assign selectedVendorsString = selectedVendorsString | append: cleanedVendor | append: "," %}
          {% endunless %}
        {% endunless %}
      {% endfor %}
    {% when "price-min" %}
      {% assign selectedPriceMinimum = parameterValue %}
    {% when "price-max" %}
      {% assign selectedPriceMaximum = parameterValue %}
  {% endcase %}
{% endfor %}

           <div class="filter-header flex gap-2 items-center">
               <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 256 256" xml:space="preserve">
                <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                	<path d="M 87 77.103 H 54.88 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 H 87 c 1.657 0 3 1.343 3 3 S 88.657 77.103 87 77.103 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                	<path d="M 54.114 18.898 H 3 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 h 51.114 c 1.657 0 3 1.343 3 3 S 55.771 18.898 54.114 18.898 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                	<path d="M 87 48 H 31.097 c -1.657 0 -3 -1.343 -3 -3 c 0 -1.657 1.343 -3 3 -3 H 87 c 1.657 0 3 1.343 3 3 C 90 46.657 88.657 48 87 48 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                	<path d="M 35.885 77.103 H 3 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 h 32.885 c 1.657 0 3 1.343 3 3 S 37.542 77.103 35.885 77.103 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                	<path d="M 12.868 48 H 3 c -1.657 0 -3 -1.343 -3 -3 c 0 -1.657 1.343 -3 3 -3 h 9.868 c 1.657 0 3 1.343 3 3 C 15.868 46.657 14.524 48 12.868 48 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                	<path d="M 87 18.898 H 72.521 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 H 87 c 1.657 0 3 1.343 3 3 S 88.657 18.898 87 18.898 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                	<path d="M 54.114 86.217 H 35.885 c -1.657 0 -3 -1.343 -3 -3 V 64.987 c 0 -1.657 1.343 -3 3 -3 h 18.229 c 1.657 0 3 1.343 3 3 v 18.229 C 57.114 84.874 55.771 86.217 54.114 86.217 z M 38.885 80.217 h 12.229 V 67.987 H 38.885 V 80.217 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                	<path d="M 31.097 57.114 H 12.868 c -1.657 0 -3 -1.343 -3 -3 V 35.885 c 0 -1.657 1.343 -3 3 -3 h 18.229 c 1.657 0 3 1.343 3 3 v 18.229 C 34.097 55.771 32.754 57.114 31.097 57.114 z M 15.868 51.114 h 12.229 V 38.885 H 15.868 V 51.114 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                	<path d="M 72.344 28.013 H 54.114 c -1.657 0 -3 -1.343 -3 -3 V 6.783 c 0 -1.657 1.343 -3 3 -3 h 18.229 c 1.657 0 3 1.343 3 3 v 18.229 C 75.344 26.669 74.001 28.013 72.344 28.013 z M 57.114 22.013 h 12.229 V 9.783 H 57.114 V 22.013 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                </g>
                </svg>
               Filter
            </div>
    <form action="{{ collection.url }}" method="get" id="product-filters" class="filters flex {% if settings.filter_orientation == "vertical"%}flex-col {% endif %} flex-wrap" >
    
    {%if settings.show_tags_filter %}
    <div id="tags-wrapper">
        <fieldset class="flex {% if settings.filter_orientation == "vertical"%}flex-col{% else %} flex-wrap {% endif %} mb-2">
            {% assign usedTagsTracker = "," %}
            {% if settings.filter_orientation == "horizontal"%}
            <details class="dropdown" name="filter-dropdown">
              <summary class="btn m-1">
                Tags
                <span class="icon-caret"></span>
              </summary>
              <ul class="menu flex flex-row dropdown-content bg-base-100 rounded-box z-1 w-96 p-2 shadow-md">
            {% endif %}
                {% for tag in collections[collection].productTags %}
                {% unless tag contains "_"%}
                  {% assign normalizedTag = tag | downcase | strip %}
                  {% assign wrappedTag = "," | append: normalizedTag | append: "," %}
        
                  {% unless usedTagsTracker contains wrappedTag %}
                    {% assign searchPattern = "," | append: normalizedTag | append: "," %}
                    <label class="capitalize p-2"> 
                      <input type="checkbox" name="tags" value="{{ normalizedTag }}" {% if selectedTagsString contains searchPattern %}checked{% endif %}>
                      {{ normalizedTag | t:"collection" }}
                    </label>
        
                    {% assign usedTagsTracker = usedTagsTracker | append: normalizedTag | append: "," %}
                  {% endunless %}
                  {% endunless %}
                {% endfor %}
              </ul>
            </details>
        </fieldset>
    </div>
    {% endif %}
    
    {%if settings.show_vendor_filter %}
    <div id="vendor-wrapper">
        {% if settings.filter_orientation == "vertical"%}<div class="filter-header">Vendors</div> {% endif %}
        
        <fieldset class="flex flex-col {% if settings.filter_orientation == "horizontal"%} lg:flex-row {% endif%}  mb-2">
           
           {% if settings.filter_orientation == "horizontal"%}
           <details class="dropdown" name="filter-dropdown">
              <summary class="btn m-1">
                  Vendors
                  <span class="icon-caret"></span>
              </summary>
              <ul class="menu flex flex-row dropdown-content bg-base-100 rounded-box z-1 w-96 p-2 shadow-md">
            {% endif %}
                {% for vendor in collection.productVendors %}
                    {% assign vendorValue = vendor | strip %}
                    {% assign vendorSearchPattern = "," | append: vendorValue | append: "," %}
                    <label class="capitalize p-2" {% if settings.filter_orientation == "horizontal" %} {% endif %}>
                      <input type="checkbox" name="vendor" value="{{ vendorValue | split: " " | join: "+" }}" {% if selectedVendorsString contains vendorSearchPattern %}checked{% endif %}>
                      {{ vendor | t:"collection" }}
                    </label>
                {% endfor %}
              </ul>
            {% endif %}
            </details>
        </fieldset>
    </div>
    
    
    {% if settings.show_group_tags_filter %}
    {% assign groups = '' %}

    {% for tag in collection.productTags %}
      {% if tag contains "_" %}
        {% assign tagParts = tag | split: "_" %}
        {% assign groupName = tagParts.first | downcase %}
        {% assign groups = groups | append: groupName | append: "," %}
      {% endif %}
    {% endfor %}
    
    {% assign groups = groups | split: "," | compact | uniq %}
    
    {% for group in groups %}
    
    <div class="filter-wrapper">
    
    {% if settings.filter_orientation == "vertical" %}    
        <div class="filter-header">{{ group | capitalize }}</div>
    {% endif %}
    
      <fieldset class="flex {% if settings.filter_orientation == "vertical"%}flex-col{% else %} flex-wrap {% endif %} mb-2">
      {% if settings.filter_orientation == "horizontal" %}
      <details class="dropdown" name="filter-dropdown">
        <summary class="btn m-1">
          {{ group | capitalize }}
          <span class="icon-caret"></span>
        </summary>
        <ul class="menu flex flex-row dropdown-content bg-base-100 rounded-box z-1 w-96 p-2 shadow-md">
      {% endif %}
          {% for tag in collection.productTags %}
            {% assign tagLower = tag | downcase %}
            {% assign prefix = group | append: "_" %}
            
            {% if tagLower contains prefix %}

              {% assign tagParts = tag | split: "_" %}
              {% assign option = tagParts.last %}
              {% assign wrappedTagValue = "," | append: tagLower | append: "," %}
              
            <label class="p-2">
              <input type="checkbox" name="tags" value="{{ tagLower }}" {% if selectedTagsString contains wrappedTagValue %}checked{% endif %}>
              {{ option | capitalize }}
            </label>
              
    
            {% endif %}
          {% endfor %}
        </ul>
    
      </details>
      </fieldset>
    </div>

    {% endfor %}
    
    {% endif %}
    
    
    {%if settings.show_price_range_filter %} 
    {%if settings.filter_orientation == "horizontal" %} 
    
    <details class="dropdown" name="filter-dropdown">
        <summary class="btn m-1">
          {{ "price" | capitalize }}
          <span class="icon-caret"></span>
        </summary>
    {% endif %}
            <div id="price-input" class="flex flex-col justify-between">
                <h2>Pris</h2>
                <div class="price-filter mb-2 price-filter--nojs">
                    <label>
                            <input class="nojs-input" placeholder="MIN" type="number" name="price-min" min="0" value="{{ selectedPriceMinimum }}">
                    </label>
                    <span>-</span>
                    <label>
                            <input class="nojs-input" placeholder="MAX" type="number" name="price-max" min="0" value="{{ selectedPriceMaximum }}">
                    </label>
                </div>
                
                
                <div class="price-range-wrapper price-filter--js">
                    
                      <div class="price-range-input">
                        <div class="field">
                          <input id="price-range-minimum" type="number" class="input-min" placeholder="MIN" value="{{ selectedPriceMinimum }}">
                        </div>
                        <span>-</span>
                        <div class="field">
                          <input id="price-range-maximum" type="number" class="input-max" placeholder="MAX" value="{{ selectedPriceMaximum }}">
                        </div>
                      </div>  
                      <div class="slider">
                        <div class="progress"></div> 
                      </div>
                      <div class="range-input">
                        <input type="range" class="range-min" min="0" max="{{ maxPrice | divided_by: 1000 }}" step="1">
                        <input type="range" class="range-max" min="0" max="{{ maxPrice | divided_by: 1000 }}" step="1">
                      </div>
                </div>
                
            </div> 
        </details>
    {% endif %}
        
        {% if settings.filter_orientation == "vertical" %}
        <div id="filter-buttons" class="flex justify-between pb-4">
            <button id="submit-filter" type="submit" class="btn">Filtrera</button>
            <a href="{{ request.path }}" class="btn">{{ 'Rensa filter' | t:'collection' }}</a>
        </div>
        {% endif %}
</form>

{% if settings.filter_orientation == "horizontal"%}
<div id="active-filters">
    <ul id="active-filters-list">
        
    </ul>
</div>
{% endif %}

<style>
    <!-- price range slider styling -->
    .price-range-wrapper {
        max-width: 300px;
    }
    
    .price-range-input {
      width: 100%;
      display: flex;
      gap: 3rem;
      margin: 30px 0 35px;
      
      span {
        font-size: 2rem;
        line-height: 130%;
      }
    }
    .price-range-input .field {
      display: flex;
      width: 100%;
      height: 45px;
      align-items: center;
    }
    .field input, price-filter--nojs label input {
      width: 100%;
      height: 100%;
      outline: none;
      font-size: 1.15rem;
      border-radius: 5px;
      text-align: center;
      border: 1px solid #999;
      -moz-appearance: textfield;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    .price-input .separator {
      width: 130px;
      display: flex;
      font-size: 19px;
      align-items: center;
      justify-content: center;
    }
    .slider {
      height: 5px;
      position: relative;
      background: #ddd;
      border-radius: 5px;
    }
    .slider .progress {
      height: 100%;
      left: 0;
      right: 0;
      position: absolute;
      border-radius: 5px;
      background: #17a2b8;
    }
    .progress {
        max-width: 100%;
    }
    .range-input {
      position: relative;
    }
    .range-input input {
      position: absolute;
      width: 100%;
      height: 5px;
      top: -5px;
      background: none;
      pointer-events: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    input[type="range"]::-webkit-slider-thumb {
      height: 17px;
      width: 17px;
      border-radius: 50%;
      background: #17a2b8;
      pointer-events: auto;
      -webkit-appearance: none;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    }
    input[type="range"]::-moz-range-thumb {
      height: 17px;
      width: 17px;
      border: none;
      border-radius: 50%;
      background: #17a2b8;
      pointer-events: auto;
      -moz-appearance: none;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    }
    
    
    .js .price-filter--nojs {
      display: none;
    }
    
    .js .price-filter--js {
      display: block;
    }
    
    .price-filter--js {
      display: none;
    }
    <!-- END price range slider styling -->
    
    
    #product-filters {
        gap: 0;
        .price-filter { 
            label {
              display: grid;
              grid-template-columns: 80px 1fr;
              align-items: center;
              gap: 0.5rem;
            }
        
            input {
              margin-left: 0;
              width: 100%; 
            }
        }
    }
    
    #price-input > h2 {
        font-size: 1.25rem;
        text-align: center;
    }
    
    #filter label:has(input[type="checkbox"]):hover {
        cursor: pointer;
        background-color: #f3f3f3;
        transition: 0.25s;
    }
    
    .filter-header {
        font-size: 1.25rem;
        width: 100%;
        padding: .5rem 0 .5rem .5rem;
        margin-bottom: .75rem;
        background: #ffffff00;
        box-shadow: 1px 1px 3px #00000020;
    }
    #tags-wrapper, #vendor-wrapper {
        height: fit-content;
    }
    
    
    @media(max-width: 1024px) {
        #product-filter-wrapper {
            position: relative;
        }
        #filter {
            position: absolute;
            background: var(--color-base-100);
            z-index: 1;
        }
    }
    
    @media(max-width: 640px) {
        #filter{
            margin-left: -10px;
            width: calc(100% + 20px);
        }
    }
   
    
    
    
    {% if settings.filter_orientation == "horizontal" %}
        #filter-buttons {
            margin-top: 1rem;
            padding: 0;
        }
      
        
        #product-filters label:has(input[type="checkbox"]) {
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
            border-radius: .5rem;
            corner-shape: squircle bevel ;
            
            input {
                display: none;
            }
        }
        #product-filters label:has(input[type="checkbox"]:checked) {

            outline: 2px solid #00000050;
        }
        
        .icon-caret {
            display: inline-block;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #898989;
            transition: transform 0.3s ease;
            margin-left: .5rem
        }
        
        
        details[open] .icon-caret {
            transform: rotate(180deg);
        }
        
        .price-range-input {
            margin-block: 15px;
        }
        
        
        
        
        .price-filter input, price-filter--nojs label input {
          width: 30%;
          height: 100%;
          padding: 0.5rem;
          outline: none;
          font-size: 1.15rem;
          border-radius: 5px;
          text-align: center;
          border: 1px solid #999;
          -moz-appearance: textfield;
        }
        
        
        
        
        #product-filters {
            gap: 2rem;
        }
        
        #tags-wrapper, #vendor-wrapper {
            margin-right: 1rem;
            max-width: 24rem;
        }
        
        #price-input {
            max-width: 300px;
            margin-top: 1rem;
        }
        
        
        /* Active Filters */
        
        #active-filters-list {
            display: flex;
            gap: 0.5rem;
            margin-top: 1.5rem;
        }
        
        #active-filters-list li {
            margin: 0; padding: 0;
        }
        
        #active-filters-list li span {
            background-color: #ccc;
            padding: 0.35rem 1rem;
            border-radius: 50px 0 0 50px;
        }
        
        #active-filters-list li button {
            background-color: #ccc;
            padding: 0.1rem;
            border-radius: 0 50px 50px 0;
            padding-inline: 0.35rem 0.5rem;
            cursor: pointer;
        }
        #active-filters-list li button:hover {
            background-color: #f1f1f1;
        }
        
        #active-filters-list a {
            font-size: 0.95rem;
        }
    
    {% elsif settings.filter_orientation == "vertical" %}
        #product-filters {
            gap: 0;
            min-width: 16rem;
        }
        
        #filter-buttons {
            margin-top: 1rem;
        }
        
        #tags-wrapper, #vendor-wrapper {
            width: 100%;
            min-width: 13rem;
            max-width: fit-content;
        }
        
        .filter-wrapper {
            min-width: 13rem;
            max-width: fit-content;
        }
        
        #price-input {
            max-width: 300px;
            margin-top: 1rem;
        }
        
        #filter {
            padding: 1rem;
        }
        
        .price-filter--nojs {
            display: flex; 
            position: relative;
            gap: 3rem;
            
            span {
                font-size: 2rem;
                line-height: 130%;
            }
        }
        
        .nojs-input {
            width: 100%;
            height: 45px;
            outline: none;
            font-size: 1.15rem;
            border-radius: 5px;
            text-align: center;
            border: 1px solid #999;
            -moz-appearance: textfield;
            
        }
    {% endif %}
    

</style>


<script>
(function() {
  'use strict';

  const form = document.getElementById('product-filters');
  if (!form) return;

  const rangeMin = form.querySelector('.range-min');
  const rangeMax = form.querySelector('.range-max');
  const inputMin = form.querySelector('.input-min');
  const inputMax = form.querySelector('.input-max');
  const priceInputs = form.querySelectorAll('.price-range-input input');
  const rangeInputs = form.querySelectorAll('.range-input input');
  const rangeProgress = form.querySelector('.slider .progress');


  
  const getCheckedValues = (name) => 
    [...form.querySelectorAll(`input[name=${name}]:checked`)]
        .map(i => i.value);

  const isGroupLikeValue = (value) => typeof value === "string" && value.includes("_");
  
  function toggleFilter() {
      const filter = document.querySelector("#filter");
      
      filter.classList.toggle("hidden");
  }
  
  
    function buildParams() {
        const params = new URLSearchParams();

        const seen = new Set();
        const dynamicGroupTags = new Set();

        form.querySelectorAll('input[type="checkbox"]').forEach(input => {
          if (seen.has(input.name)) return;
          seen.add(input.name);
          const values = getCheckedValues(input.name);

          if (!values.length) return;

          // Group filters can have dynamic names (a/b/c etc). 
          // Back-end filtering expects tag values in the "tags" query parameter.
          if (input.name !== "tags" && input.name !== "vendor") {
            values.forEach(value => {
              if (isGroupLikeValue(value)) dynamicGroupTags.add(value);
            });
            return;
          }

          params.set(input.name, values.join(","));
        });

        if (dynamicGroupTags.size) {
          const existingTags = (params.get("tags") || "").split(",").filter(Boolean);
          const mergedTags = [...new Set([...existingTags, ...dynamicGroupTags])];
          params.set("tags", mergedTags.join(","));
        }

        const minValue = inputMin?.value || rangeMin?.value;
        const maxValue = inputMax?.value || rangeMax?.value;

        if (minValue > 0) {
          params.set("price-min", minValue);
        }

        if (maxValue < rangeMax.max) {
          params.set("price-max", maxValue);
        }

        return params;
    }
  
  {%if settings.filter_orientation == "horizontal" %}

    const cache = new Map();
    let currentController;
    let debounceTimer;
    let lastQueryString = "";
    
    const DEBOUNCE_DELAY = 250;
    
    
    
    document.addEventListener("click", (e) => {
        const allDetails = document.querySelectorAll("details[open]");
        
        allDetails.forEach( details => {
            if(!details.contains(e.target)) {
                details.removeAttribute("open")
            }
        })
    })
    
    document.addEventListener("click", (e) => {
        const allDetails = document.querySelectorAll("details[open]");
        
        allDetails.forEach(details => {
            if (!details.contains(e.target)) { 
                details.removeAttribute("open");
            }
        });
    });
 
    
    
    // active filters ------------------
    
    function getReadableValue(value) {
        if(value.includes("_")) {
            return value.split("_").pop();
        } 
        return value;
    }
    
    function getActiveFilterValues() {
        const params = buildParams();
        const activeFilters = [];
        
        for (let [key, value] of params.entries()) {
            if (key === "price-min" || key === "price-max") {
                continue;
            }
            
            const values = value.split(",");
            values.forEach( v => {
                activeFilters.push({
                    rawValue: v,
                    displayValue: getReadableValue(v),
                    paramKey: key,
                    originalValue: v
                });
            });
        }
        
        
        const minValue = params.get("price-min");
        const maxValue = params.get("price-max");
        if (minValue || maxValue) {
            activeFilters.push({
                rawValue: `price-${minValue}-${maxValue}`,
                displayValue: `${minValue ||0} kr - ${maxValue || "{{ selectedPriceMaximum }}"} kr`,
                paramKey: "price",
                isPrice: true,
                minValue: minValue,
                maxValue: maxValue
            });
        }
        
        return activeFilters;
    }
    
    function renderActiveFilters() {
        const container = document.querySelector("#active-filters-list");
        if(!container) return;
        
        const activeFilters = getActiveFilterValues();
        container.innerHTML = '';
        if (activeFilters.length === 0) {
            
            return;
        }
        
        container.innerHTML = activeFilters.map(filter => `
            <li data-param-key="${filter.paramKey}"
                data-original-value="${filter.originalValue || ''}"
                data-is-price="${filter.isPrice || false}"
                data-price-min="${filter.minValue || ''}"
                data-price-max="${filter.maxValue || ''}"
            >
                <span class="filter-label capitalize">${filter.displayValue}</span>
                <button class="remove-filter" aria-label="Ta bort filter">X</button>
            </li>
        `).join('');
        
        if(activeFilters.length !== 0) {
            container.innerHTML += "<a href='{{ request.path }}'>Rensa filter</a>"
        }
    }
    
    function findCheckboxByValue(value) {
        const checkboxes = form.querySelectorAll('input[type="checkbox"]');
        for (let checkbox of checkboxes) {
            if(checkbox.value === value) {
                return checkbox
            }
        }
        return null;
    }
    
    function removeFilter() {
        document.body.addEventListener('click', (e) => {
            const removeBtn = e.target.closest('.remove-filter');
            if (!removeBtn) return;
            
            const li = removeBtn.closest('li')
            const isPrice = li.dataset.isPrice === 'true';
            
            if (isPrice) {
                
                if (inputMin) inputMin.value = '';
                if (inputMax) inputMax.value = '';
                if (rangeMin) rangeMin.value = rangeMin.min;
                if (rangeMax) rangeMax.value = rangeMax.max;
              } else {
                const originalValue = li.dataset.originalValue;
                const checkbox = findCheckboxByValue(originalValue);
                if (checkbox) {
                    checkbox.checked = false;
                }
              }
              
            clearTimeout(debounceTimer);
            debounceTimer = setTimeout(performUpdate, DEBOUNCE_DELAY);            
        })
    }
    
    // END active filters ------------------
    
    
    const findGrid = (root) =>
      root.querySelector("#product-grid") ||
      root.querySelector("#product-filter-wrapper > .mt-10.grid") ||
      root.querySelector(".mt-10.grid");

    const updateGrid = (html) => {
      const parser = new DOMParser();
      const doc = parser.parseFromString(html, "text/html");

      const newGrid = findGrid(doc);
      const currentGrid = findGrid(document);

      if (newGrid && currentGrid) {
        currentGrid.innerHTML = newGrid.innerHTML;
        return true;
      }

      return false;
    };
    
    function syncUIFromUrl() {
      const params = new URLSearchParams(window.location.search);
      const selectedTags = (params.get("tags") || "").split(",").filter(Boolean);

      form.querySelectorAll("input[type='checkbox']").forEach(input => {
        const valuesForName = (params.get(input.name) || "").split(",").filter(Boolean);

        if (valuesForName.includes(input.value)) {
          input.checked = true;
          return;
        }

        // Also sync dynamic group checkboxes from tags param.
        if (input.name !== "tags" && input.name !== "vendor" && selectedTags.includes(input.value)) {
          input.checked = true;
          return;
        }

        input.checked = false;
      });

      // Price
      const min = params.get("price-min") || "";
      const max = params.get("price-max") || "";
    
      if (inputMin) inputMin.value = min;
      if (inputMax) inputMax.value = max;
      if (rangeMin) rangeMin.value = min || rangeMin.min;
      if (rangeMax) rangeMax.value = max || rangeMax.max;
    
      // Uppdatera slider visuellt
      if (rangeProgress && rangeMin && rangeMax) {
        const minVal = parseInt(rangeMin.value) || 0;
        const maxVal = parseInt(rangeMax.value) || 0;
    
        rangeProgress.style.left = (minVal / rangeMin.max) * 100 + "%";
        rangeProgress.style.right =
          100 - (maxVal / rangeMax.max) * 100 + "%";
      }
    }
    
    async function updateFromUrl(queryString, push = false) {
      const baseUrl = window.location.pathname;
    
      if (queryString === lastQueryString) return;
      lastQueryString = queryString;
    
      const pageUrl = queryString
        ? `${baseUrl}?${queryString}`
        : baseUrl;
    
      const fetchParams = new URLSearchParams(queryString);
      fetchParams.set("section_id", "product-grid");
      const fetchUrl = `${baseUrl}?${fetchParams.toString()}`;
    
      if (cache.has(queryString)) {
        const updated = updateGrid(cache.get(queryString));
        if (!updated) {
          window.location.assign(pageUrl);
          return;
        }
        if (push) history.pushState(null, "", pageUrl);
        return;
      }
    
      if (currentController) currentController.abort();
      currentController = new AbortController();
    
      try {
        const response = await fetch(fetchUrl, {
          signal: currentController.signal
        });
    
        const html = await response.text();
    
        cache.set(queryString, html);
        const updated = updateGrid(html);

        if (!updated) {
          window.location.assign(pageUrl);
          return;
        }
    
        if (push) history.pushState(null, "", pageUrl);
    
      } catch (error) {
        if (error.name !== "AbortError") {
          console.error("Filter fetch failed:", error);
        }
      }
    }
    
    function performUpdate() {
        const params = buildParams();
        const queryString = params.toString().replaceAll("%2C", ",");
        
        updateFromUrl(queryString, true);
        renderActiveFilters();
    }

    form.addEventListener("change", (e) => {
        if (!e.target.matches("input[type='checkbox'], input[type='range'], input[type='number']")) {
            return;
        }
        
        clearTimeout(debounceTimer);
        debounceTimer = setTimeout(performUpdate, DEBOUNCE_DELAY);
    });
    
    window.addEventListener("popstate", () => {
      syncUIFromUrl();
      const queryString = window.location.search.slice(1);
      updateFromUrl(queryString, false);
      renderActiveFilters();
    });
    
    syncUIFromUrl();
    renderActiveFilters();
    removeFilter();
    
    document.querySelector("#submit-filter")?.classList.add("hidden");
    
    

{% endif %}

  // Ta bort noJS name-attribut
  document.querySelectorAll('.price-filter--nojs input[name]').forEach(input => {
    input.removeAttribute('name');
  });

  document.documentElement.classList.add('js');

  if (rangeMin) rangeMin.setAttribute('name', 'price-min');
  if (rangeMax) rangeMax.setAttribute('name', 'price-max');

  if (rangeInputs.length === 2 && priceInputs.length === 2 && rangeProgress) {

    const PRICE_GAP = 10;

    const updateProgress = (minVal, maxVal) => {
      rangeProgress.style.left = (minVal / rangeInputs[0].max) * 100 + '%';
      rangeProgress.style.right = 100 - (maxVal / rangeInputs[1].max) * 100 + '%';
    };

    const updateRangeFromInputs = () => {
      const minVal = parseInt(priceInputs[0].value) || parseInt(rangeInputs[0].min);
      const maxVal = parseInt(priceInputs[1].value) || parseInt(rangeInputs[1].max);

      rangeInputs[0].value = minVal;
      rangeInputs[1].value = maxVal;

      updateProgress(minVal, maxVal);
    };

    updateRangeFromInputs();

    priceInputs.forEach((input) => {
      input.addEventListener('input', () => {
        const minPrice = parseInt(priceInputs[0].value) || 0;
        const maxPrice = parseInt(priceInputs[1].value) || 0;

        if (maxPrice - minPrice >= PRICE_GAP && maxPrice <= parseInt(rangeInputs[1].max)) {
          if (input.classList.contains('input-min')) {
            rangeInputs[0].value = minPrice;
          } else {
            rangeInputs[1].value = maxPrice;
          }
          updateProgress(minPrice, maxPrice);
        }
      });
    });

    const handleRangeInput = (e) => {
      const minVal = parseInt(rangeInputs[0].value);
      const maxVal = parseInt(rangeInputs[1].value);

      if (maxVal - minVal < PRICE_GAP) {
        if (e.target.classList.contains('range-min')) {
          rangeInputs[0].value = maxVal - PRICE_GAP;
        } else {
          rangeInputs[1].value = minVal + PRICE_GAP;
        }
        return;
      }

      priceInputs[0].value = minVal;
      priceInputs[1].value = maxVal;

      updateProgress(minVal, maxVal);
    };

    rangeInputs.forEach(input => {
      input.addEventListener('input', handleRangeInput);
    });
  }
})();
</script>