<h1 class="text-3xl md:text-5xl lg:text-5xl mb-8">{{ meta.h1 }}</h1>
{% if product.keyFeatures.size > 0 %}
<ul class="mb-2">
    {% for feature in product.keyFeatures %}
    <li class="checkmark">
        {{ feature }}
    </li>
    {% endfor %}            
</ul>
{% endif %}
<div>
    <p class="mb-2 ml-2"><span class="text-2xl md:text-3xl lg:text-3xl">{{ product.selectedVariant.price | money }}</span>{% unless shop.priceIncludesVat %} <small>(excl. VAT){% endunless %}</small></p>
    {% form 'cart_add' class:'ml-2 mb-12' onSuccess:'/cart' %}
        <input type="hidden" name="product" value="{{product.id}}">
        {% if product.variants.size > 1 %}
        <select class="select select-bordered max-w-xs mb-2" name="variant" value="{{product.selectedVariant.id}}">
            {% for variant in product.variants %}
            <option class="option" {% if variant.image %}data-large="{{ variant.image | product_img_url:590,0 }}"{% endif %} value="{{variant.id}}"{% if variant.id == product.selectedVariant.id %} selected{% endif %}>{{variant.title}}</option>
            {% endfor %}
        </select>    
        {% else %}
        <input type="hidden" name="variant" value="{{product.selectedVariant.id}}">
        {% endif %}
        <button name="submit" class="btn btn-accent"{% unless product.selectedVariant.available %} disabled{% endunless %}>{% if product.selectedVariant.available %}Add to cart{% else %}Sold out{% endif %}</button>
    {% endform %}            
</div>