<div class="join">
    <a class="join-item btn" href="{{ paginate.previous.url }}" title="{{ paginate.previous.title }}">«</a>
    <button class="join-item btn">{{ paginate.currentPage }} / {{ paginate.pages }}</button>
    <a class="join-item btn" href="{{ paginate.next.url }}" title="{{ paginate.next.title }}">»</a>
</div>