{% comment %}
Responsive header with dropdown menu on small screens and click‑based mega menu on desktop.
{% endcomment %}

{% assign main-nav = settings.main_nav_linklist | def: "main-menu" %}

  <a class="skip-link bg-primary text-primary-content link z-10 w-full p-4 text-center" href="#main-content">
    {{ 'Skip to content' | t:'default' }}
  </a>
  {% if settings.headerTopEnabled %}
    <div class="bg-neutral text-neutral-content p-2 text-center">
      {% if settings.headerTopURL %}<a href="{{ settings.headerTopURL }}">{% endif %}
        <p class="max-w-8xl mx-auto">{{ settings.headerTopText | t:'default' }}</p>
      {% if settings.headerTopURL %}</a>{% endif %}
    </div>
  {% endif %}

<div class="bg-{{ settings.header_colors }} text-{{ settings.header_colors }}-content {{ settings.general_shadow }} sticky top-0 w-full z-30">
  <nav class="navbar max-w-[96rem] mx-auto relative flex-wrap md:flex-nowrap justify-between gap-4" role="navigation">
    <div class="navbar-start w-fit">
      {% if navigation[main-nav].links.size > 0 %}
      <div class="dropdown {% unless settings.mainNavStyle == 'hamburger' %}lg:hidden{% endunless %}">
        <div tabindex="0" role="button" class="btn btn-ghost" aria-label="Menu">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </div>
        <div tabindex="0" class="menu dropdown-content mt-3 z-[1] p-3 shadow bg-primary text-primary-content rounded-box w-60">
          <div class="overflow-y-auto max-h-[80vh]">
            <ul class="space-y-2">
              {% for link in navigation[main-nav].links %}
                {% if link.type == 'navigation' %}
                  <li class="font-bold">
                    <details>
                      <summary class="uppercase cursor-pointer py-2">{{ link.title }}</summary>
                      <ul class="pl-3 space-y-1">
                        {% for childlink in navigation[link.handle].links %}
                          {% if childlink.type == 'navigation' %}
                            <li>
                              <details>
                                <summary class="cursor-pointer">{{ childlink.title }}</summary>
                                <ul class="pl-4 space-y-1">
                                  {% for subchild in navigation[childlink.handle].links %}
                                    <li><a href="{{ subchild | url }}">{{ subchild.title }}</a></li>
                                  {% endfor %}
                                </ul>
                              </details>
                            </li>
                          {% else %}
                            <li><a href="{{ childlink | url }}">{{ childlink.title }}</a></li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </details>
                  </li>
                {% else %}
                  <li class="font-bold"><a href="{{ link | url }}">{{ link.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>

            {% if site.langs.size > 1 %}
              <a-lang class="block mt-4">
                <select name="lang" class="select select-primary w-full">
                  {% for l in site.langs | keys | sort %}
                    <option value="{{ l }}" {% if l == lang %}selected{% endif %}>
                      {{ languages[l] | t:'default' }}
                    </option>
                  {% endfor %}
                </select>
              </a-lang>
            {% endif %}

            {% if shop.currencies.size > 1 %}
              <a-currency class="block mt-2">
                <select name="currency" class="select select-primary w-full">
                  {% for c in shop.currencies | keys | sort %}
                    <option value="{{ c }}" {% if c == cart.currency %}selected{% endif %}>{{ c }}</option>
                  {% endfor %}
                </select>
              </a-currency>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}

      <a href="/">
        <img src="/logo.png" height="{{ settings.logoHeight | def:40 }}" alt="{{ site.name }}" class="p-2 h-[30px] lg:min-h-[{{ settings.logoHeight | def:40 }}px] max-w-full">
      </a>
    
        {% unless settings.mainNavStyle == 'hamburger' %}
          <ul class="menu menu-horizontal px-1 py-0 hidden lg:flex">
            {% for link in navigation[main-nav].links %}
              {% if link.type == 'navigation' and navigation[link.param].links.size > 0 %}
                <li x-data="{open: false}" @resize.window="open = false" class="font-semibold text-base static">
                  <button x-on:click="open = true" class="menu-dropdown-toggle px-3 py-2 font-bold">{{ link.title }}</button>
                  <div x-show="open" x-on:click.outside="open = false" class="{% if settings.mainNavStyle == 'mega' %}megamenu left-8 min-w-96 gap-8 items-start w-full max-w-[800px] {% else %}min-w-32 block {% endif %}absolute top-14 bg-base-200 text-base-200-content shadow-xl p-6 rounded-box z-50">
                      {% for childlink in navigation[link.param].links %}
                        {% if childlink.type == 'navigation' %}
                            <div>
                                <p class="min-w-40 font-bold py-1 px-2 text-lg">
                                  {{ childlink.title }}
                                </p>
                                {% for subchild in navigation[childlink.handle].links %}
                                    <a href="{{ subchild | url }}" class="hover:underline block my-2 py-1 px-2">
                                      {{ subchild.title }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% else %}
                          <a href="{{ childlink | url }}" class="min-w-30 block py-1 px-2 font-bold hover:underline rounded-field transition text-lg">
                            {{ childlink.title }}
                          </a>
                        {% endif %}
                      {% endfor %}                      
                  </div>
                </li>
              {% else %}
                <li class="font-semibold text-base">
                  <a href="{{ link | url }}" class="px-3 py-2 font-bold transition">
                    {{ link.title }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endunless %}
    </div>
    {% if settings.mainNavSearch %}
    <div class="navbar-center order-last md:order-none w-full md:w-[15%] grow md:max-w-72 ml-auto">
      <a-search lang="{{ lang }}" currency="{{ cart.currency }}" class="mr-2 inline-block w-full" include="products">
        <label class="input px-2 min-w-40 w-full">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 opacity-70" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
          </svg>
          <input class="text-sm min-w-40" type="search" placeholder="{{ 'Search' | t:'search' }}" />
        </label>
      </a-search>        
    </div>
    {% endif %}
    
    <div class="navbar-end w-fit gap-2">
      {% if site.langs.size > 1 %}
        <a-lang class="hidden md:inline-block">
          <select name="lang" class="select bg-transparent w-fit">
            {% for l in site.langs | keys | sort %}
              <option value="{{ l }}" {% if l == lang %}selected{% endif %}>
                {{ languages[l] | t:'default' }}
              </option>
            {% endfor %}
          </select>
        </a-lang>
      {% endif %}

      {% if shop.currencies.size > 1 %}
        <a-currency class="hidden md:inline-block">
          <select name="currency" class="select bg-transparent w-fit">
            {% for c in shop.currencies | keys | sort %}
              <option value="{{ c }}" {% if c == cart.currency %}selected{% endif %}>{{ c }}</option>
            {% endfor %}
          </select>
        </a-currency>
      {% endif %}
    {% if settings.mainNavAccount %}
      <a class="btn btn-ghost btn-circle btn-sm mr-2" href="/customer/account" aria-label="Account">
        <svg fill="currentColor" width="24" height="24" viewBox="0 0 1024 1024">
          <path d="M858.5 763.6a374 374 0 0 0-80.6-119.5 375.63 375.63 0 0 0-119.5-80.6C719.5 518 760 444.7 760 362c0-137-111-248-248-248S264 225 264 362c0 82.7 40.5 156 102.8 201.1-44.8 18.9-85 46-119.5 80.6a375.63 375.63 0 0 0-80.6 119.5A371.7 371.7 0 0 0 136 901.8a8 8 0 0 0 8 8.2h60c4.4 0 7.9-3.5 8-7.8 2-77.2 33-149.5 87.8-204.3 56.7-56.7 132-87.9 212.2-87.9s155.5 31.2 212.2 87.9C779 752.7 810 825 812 902.2c.1 4.4 3.6 7.8 8 7.8h60a8 8 0 0 0 8-8.2c-1-47.8-10.9-94.3-29.5-138.2zM512 534c-45.9 0-89.1-17.9-121.6-50.4S340 407.9 340 362c0-45.9 17.9-89.1 50.4-121.6S466.1 190 512 190s89.1 17.9 121.6 50.4S684 316.1 684 362c0 45.9-17.9 89.1-50.4 121.6S557.9 534 512 534z"/>
        </svg>
      </a>
    {% endif %}
      {% include 'cartWidget' %}
    </div>
  </nav>
</div>

