{% comment %}
responsive (dropdown menu on small screen, center menu on large screen) modified as little as possible, from daisy UI webpage
{% endcomment %}

{% assign main-nav = settings.main_nav_linklist | def: "main-menu" %}

<div class="bg-{{ settings.header_colors }} text-{{ settings.header_colors }}-content {{ settings.general_shadow }} sticky top-0 w-[100vw] z-30">
    <a class="skip-link bg-primary text-primary-content link z-10 w-full p-4 text-center" href='#main-content'>{{ 'Skip to content' | t:'default' }}</a>
    {% if settings.headerTopEnabled %}
        <div class="bg-primary text-primary-content p-2 text-center">
            {%if settings.headerTopURL %}<a href="{{ settings.headerTopURL }}">{% endif %}
                <p class="max-w-8xl mx-auto">{{ settings.headerTopText | t:'default' }}</p>
            {%if settings.headerTopURL %}</a>{% endif %}
        </div>
    {% endif %}
    <div class="navbar max-w-8xl mx-auto container">
      <div class="navbar-start">
        {% if navigation[main-nav].links.size > 0 %}
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost pl-0 lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
            </svg>
          </div>
          <div tabindex="0" class="menu dropdown-content mt-3 z-[1] p-2 shadow bg-primary text-primary-content rounded-box w-52 block overflow-scroll max-h-[80vh]">
            <ul class="mb-4">
                {% for link in navigation[main-nav].links %}
                    {% if link.type == 'navigation' %}
                     <li class="font-bold">
                        <p class="uppercase">{{ link.title }}</p>
                        <ul class="p-2">
                            {% for childlink in navigation[link.handle].links %}
                                <li><a href="{{ childlink | url }}">{{ childlink.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>           
                    {% else %}
                    <li class="font-bold" ><a href="{{ link | url }}">{{ link.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% if site.langs.size > 1 %}
            <a-lang class="md:hidden">
                <select name="lang" class="select select-primary text-primary w-full mb-2" value="{{lang}}">
                    {% for l in site.langs | keys | sort %}
                    <option value="{{ l }}" {% if l == lang %}selected{% endif %}>{{languages[l] | t:'default' }}</option>
                    {% endfor %}
                </select>
            </a-lang>
            {% endif %}
            {% if shop.currencies.size > 1 %}
            <a-currency class="md:hidden">
            <select name="currency" class="select select-primary text-primary w-full mb-2" value="{{cart.currency}}">
                {% for c in shop.currencies | keys | sort %}
                    <option value="{{ c }}" {% if c == cart.currency %}selected{% endif %}>{{c}}</option>
                {% endfor %}
            </select>
            </a-currency>
            {% endif %}
          </div>
        </div>
        {% endif %}
        <a href="/">
            <img src="/logo.png" height="{{ settings.logoHeight | def:40 }}" alt="{{ site.name }}" tabindex="0" class="p-2 logo">
        </a>
        <ul class="menu menu-horizontal px-1 hidden lg:flex">
            {% for link in navigation[main-nav].links %}
                {% if link.type == 'navigation' and navigation[link.param].links.size > 0 %}
                <li class="font-semibold text-base">
                    <details class="nav">
                        <summary>{{ link.title }}</summary>
                          <ul class="p-2 mt-0 bg-primary text-primary-content w-60 absolute shadow">
                            {% for childlink in navigation[link.param].links %}
                                <li class="font-semibold text-base child"><a href="{{ childlink | url }}">{{ childlink.title }}</a></li>
                            {% endfor %}
                          </ul>
                    </details>
                </li>
                {% else %}
                <li class="font-semibold text-base"><a href="{{ link | url }}">{{ link.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
      </div>
      <div class="navbar-end gap-2">
        <a-search lang="{{lang}}" currency="{{cart.currency}}" class="mr-2 hidden md:inline-block" include="products" filter="title,image,lang,currency,featured_image,price,compare_at_price">
            <label class="input input-ghost px-1 focus-within:outline-none min-w-40 ">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z">
                </path>
              </svg>
                <input class="text-sm min-w-40" type="search" placeholder="{{ 'Search' | t:'search' }}" />
            </label>
        </a-search>            
        {% if site.langs.size > 1 %}
        <a-lang class="hidden md:inline-block">
            <select name="lang" class="select bg-transparent w-fit" value="{{lang}}">
                {% for l in site.langs | keys | sort %}
                <option value="{{ l }}" {% if l == lang %}selected{% endif %}>{{languages[l] | t:'default' }}</option>
                {% endfor %}
            </select>
        </a-lang>
        {% endif %}
        {% if shop.currencies.size > 1 %}
        <a-currency class="hidden md:inline-block">
        <select name="currency" class="select bg-transparent w-fit" value="{{cart.currency}}">
            {% for c in shop.currencies | keys | sort %}
                <option value="{{ c }}" {% if c == cart.currency %}selected{% endif %}>{{c}}</option>
            {% endfor %}
        </select>
        </a-currency>
        {% endif %}
        <a class="btn btn-ghost btn-circle btn-sm mr-2" href="/customer/account">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" 
                fill="currentColor" 
                width="24" 
                height="24" 
                viewBox="0 0 1024 1024" 
                xmlns="http://www.w3.org/2000/svg" 
                class="icon">
              <path d="M858.5 763.6a374 374 0 0 0-80.6-119.5 375.63 375.63 0 0 0-119.5-80.6c-.4-.2-.8-.3-1.2-.5C719.5 518 760 444.7 760 362c0-137-111-248-248-248S264 225 264 362c0 82.7 40.5 156 102.8 201.1-.4.2-.8.3-1.2.5-44.8 18.9-85 46-119.5 80.6a375.63 375.63 0 0 0-80.6 119.5A371.7 371.7 0 0 0 136 901.8a8 8 0 0 0 8 8.2h60c4.4 0 7.9-3.5 8-7.8 2-77.2 33-149.5 87.8-204.3 56.7-56.7 132-87.9 212.2-87.9s155.5 31.2 212.2 87.9C779 752.7 810 825 812 902.2c.1 4.4 3.6 7.8 8 7.8h60a8 8 0 0 0 8-8.2c-1-47.8-10.9-94.3-29.5-138.2zM512 534c-45.9 0-89.1-17.9-121.6-50.4S340 407.9 340 362c0-45.9 17.9-89.1 50.4-121.6S466.1 190 512 190s89.1 17.9 121.6 50.4S684 316.1 684 362c0 45.9-17.9 89.1-50.4 121.6S557.9 534 512 534z"/>
            </svg>
        </a>
        {% include 'cartWidget' %}
      </div>
    </div>
    <div class="p-2 pt-0 md:hidden">
        <div class="max-w-8xl mx-auto container">
            <a-search class="w-full" include="products">
                <label class="input input-sm input-ghost px-2 focus-within:outline-none w-full">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 opacity-50"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z">
                    </path>
                  </svg>
                    <input class="text-sm" type="search" placeholder="{{ 'Search' | t:'search' }}" />
                </label>
            </a-search>            
        </div>
    </div>
</div>
