<div class="bg-{{ settings.footer_colors }} text-{{ settings.footer_colors }}-content">
    <footer class="footer-main max-w-[96rem] mx-auto w-full px-4 md:px-6 py-6 md:flex gap-8 md:gap-16"
      role="contentinfo">
      <aside class="footer-brand flex flex-col gap-4 items-center md:min-w-[300px] w-100 w-auto md:max-w-[400px] border-b border-base-300/30 md:border-none pb-8">
        {% if settings.footer_image %}
          <img src="{{ settings.footer_image_src | asset_img_url:'200','0' }}"
            alt="{{ settings.footer_image_alt | t:'default' }}"
            class="max-h-[200px] w-fit">
        {% endif %}
        {% unless settings.footer_about_shop == empty %}
          <p class="font-bold text-center">
            {{ settings.footer_about_shop | t:'default' }}
          </p>
        {% endunless %}
        {% if settings.footerButtonEnabled %}
          <a href="{{ settings.footerButtonURL }}" class="footer-cta">
            {{ settings.footerButtonText | t:'default' }}
          </a>
        {% endif %}
      </aside>
      {% if settings.footer_quicklinks_enable and settings.footer_linklists.size > 0 %}
      <section class="footer-nav grow gap-16 md:pl-12 md:border-l border-base-300/30" aria-label="Footer navigation">
        {% for linkList in settings.footer_linklists %}
        <nav class="footer-links footer-col-{{ forloop.index }} border-b md:border-none border-base-300/30"
          aria-label="{{ linkList.footer_linklist_title }}">
          <div class="block md:hidden">
            <div class="collapse mb-0">
              <input type="checkbox" class="peer" aria-labelledby="View navigational links"
                {% if settings.footer_linklists.size == 1 %}checked{% endif %}>
                <h2 class="collapse-title flex justify-between items-center text-sm font-semibold uppercase tracking-wider text-gray-400 pr-0">
                {{ linkList.footer_linklist_title }}
                <svg class="w-4 h-4 transition-transform duration-600 peer-checked:rotate-180"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"/>
                </svg>
              </h2>
              <div class="collapse-content">
                <ul class="flex flex-col gap-3">
                  {% for link in navigation[linkList.footer_linklist].links %}
                  <li>
                    <a href="{{ link | url }}" class="hover:underline">
                      {{ link.title }}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="hidden md:flex flex-col gap-3">
            <h2 class="text-sm font-semibold uppercase tracking-wider text-gray-400 mb-2">
              {{ linkList.footer_linklist_title }}
            </h2>
            <ul class="flex flex-col gap-4">
              {% for link in navigation[linkList.footer_linklist].links %}
              <li>
                <a href="{{ link | url }}" class="hover:underline">
                  {{ link.title }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </nav>
        {% endfor %}
      </section>
      {% endif %}
      {% unless settings.footer_linklists.size > 1 %}
          <div class="flex flex-col grow gap-6 pt-4 border-t border-base-300/50 md:pt-0 md:border-none items-center md:items-start">
            {% if settings.footer_social_enable %}
                <section aria-labelledby="footer-social-heading">
                  <h2 id="footer-social-heading"
                    class="text-sm font-semibold uppercase tracking-wider text-gray-400 mb-3 text-center md:text-left" >
                    {{ 'Follow us' | t }}
                  </h2>
                  <div class="social-icons flex gap-3 flex-wrap">
                    {% include 'socialmedia-icon-links' %}
                  </div>
                </section>
                {% endif %}
                {% if settings.footer_payment_enable and settings.footer_payment_methods.size > 0 %}
                <section aria-labelledby="footer-payment-heading"
                  class="payment-single">
                  <h2 id="footer-payment-heading"
                    class="text-sm font-semibold uppercase tracking-wider text-gray-400 mb-3 text-center md:text-left">
                    {{ settings.footer_payment_text | def:"We accept" }}
                  </h2>
                  <ul class="flex gap-3 justify-center md:justify-start flex-wrap">
                    {% for payment in settings.footer_payment_methods %}
                    <li class="flex justify-center items-center bg-white border border-gray-200 rounded-sm p-1">
                      <img src="{{ payment.logo | asset_img_url:0,50 }}"
                        alt="{{ 'Pay with' | t }} {{ payment.name }}"
                        class="h-6 object-contain">
                    </li>
                    {% endfor %}
                  </ul>
                </section>
            {% endif %}
          </div>
      {% endunless %}
    </footer>
    {% if settings.footer_linklists.size > 1 %}
        <section class="footer-bottom mt-6 pt-4 md:border-t border-base-300/50">
          <div class="max-w-8xl mx-auto px-4">
            <div class="flex flex-col md:flex-row justify-center items-center gap-6 md:gap-20 max-w-4xl mx-auto text-center">
              {% if settings.footer_social_enable %}
              <section aria-labelledby="footer-social-heading">
                <h2 id="footer-social-heading"
                  class="text-sm font-semibold uppercase tracking-wider text-gray-400 mb-3" >
                  {{ 'Follow us' | t }}
                </h2>
                <div class="social-icons flex gap-3 justify-center flex-wrap">
                  {% include 'socialmedia-icon-links' %}
                </div>
              </section>
              {% endif %}
              {% if settings.footer_payment_enable and settings.footer_payment_methods.size > 0 %}
              <section aria-labelledby="footer-payment-heading">
                <h2 id="footer-payment-heading"
                  class="text-sm font-semibold uppercase tracking-wider text-gray-400 mb-3">
                  {{ settings.footer_payment_text | def:"We accept" }}
                </h2>
                <ul class="flex gap-3 justify-center flex-wrap">
                  {% for payment in settings.footer_payment_methods %}
                  <li class="flex justify-center items-center bg-white border border-gray-200 rounded-sm p-1">
                    <img src="{{ payment.logo | asset_img_url:0,50 }}"
                      alt="{{ 'Pay with' | t }} {{ payment.name }}"
                      class="h-6 object-contain">
                  </li>
                  {% endfor %}
                </ul>
              </section>
              {% endif %}
            </div>
          </div>
        </section>
    {% endif %}
    <section class="footer-copyright max-w-8xl mx-auto px-4 pb-6 mt-8">
      <p class="text-sm text-center">
        {{ 'Copyright &copy;' | t:'default' }}
        {{ site.name }} –
        {{ 'All rights reserved' | t:'default' }}
      </p>
    </section>
</div>