{% assign myaccount_title = lang.my_account | def:'My Account' %}
{% title myaccount_title %}
{% assign licences = customer.licenses %}
<div class="wrapper account-page">
    <div class="gutter">
        <div class="text-right" style="margin-bottom: 1em;">
            <a href="/customer/logout" class="btn">Logout</a>
        </div>
        <div class="grid">
            <div class="grid-item large--two-thirds">
                <h1 class="">{{ lang.my_account | def:'My Account'}}</h1>
                <p>Welcome to your account page. You can view your orders, licences and personal data here.</p>
                <div>
                    <h2 class="h3">{{ licences.size | pluralize: 'Licence','Licences' }}</h2>

                    {% if customer.licenses.size != 0 %}
                    <div>

                        {% for licence in licences %}

                        <div class="licence-card">   
                        <h3>{{ products[licence.productId].meta.h1 }}</h3>
                        <p>
                            <small>Licence created at {{ licence.createdAt | date }}</small>
                            <br>
                            <small>Support and upgrades until {{ licence.expiresAt | date }}</small>
                        </p>
                        <p>Install with docker: <a href="/blogs/guides/article/basic-installation" class="" target="_blank">Installation guide</a>
                        </p>
                        <details class="credentials">
                          <summary class="btn white">Docker credentials</summary>
                            <p>Registry</p>
                            <div class="code-row">    
                                <code style="">registry.cradlecms.com</code>
                                <button id="registry.cradlecms.com" onclick="copyKeyToClipboard(this)" class="icon" title="Copy to clipboard">
                                    <svg role="img" title="copy">
                                        <use xlink:href="{{ 'icons.svg#icon-copy' | asset_url }}"></use>
                                    </svg>
                                </button>
                            </div>
                            <p>Username (licence key)</p>
                            <div class="code-row">    
                                <code style="">{{ licence.key }}</code>
                                <button id="{{ licence.key }}" onclick="copyKeyToClipboard(this)" class="icon" title="Copy to clipboard">
                                    <svg role="img" title="copy">
                                        <use xlink:href="{{ 'icons.svg#icon-copy' | asset_url }}"></use>
                                    </svg>
                                </button>
                            </div>
                            <p>Password</p>
                            <code style="">&lt;your account password&gt;</code>
                            <p>Cradle CMS latest</p>
                            <div class="code-row">    
                                <code style="">registry.cradlecms.com/{{ licence.sku }}:latest</code>
                                <button id="registry.cradlecms.com/{{ licence.sku }}:latest" onclick="copyKeyToClipboard(this)" class="icon" title="Copy to clipboard">
                                    <svg role="img" title="copy">
                                        <use xlink:href="{{ 'icons.svg#icon-copy' | asset_url }}"></use>
                                    </svg>
                                </button>
                            </div>
                        </details>

                    </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div>
                    <h2 class="h3">{{ lang.order_history | def:'Orders' }}</h4>
                    
                    {% if customer.orders.size != 0 %}
                        <table class="full" style="background-color:rgba(0,0,0,0.04);padding:1em;">
                            <thead>
                                <tr>
                                    <th><small>{{ lang.date | def:'Date' }}</small></th>
                                    <th><small>{{ lang.reference | def:'Reference' }}</small></th>
                                    <th><small>{{ lang.payment_status | def:'Payment' }}</small></th>
                                    {% comment %} <th>{{ lang.fulfillment_status | def:'Fulfillment Status' }}</th>{% endcomment %}
                                    <th><small>{{ lang.amount | def:'Amount' }}</small></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for order in customer.orders %}
                            <tr>
                                <td>{{ order.createdAt | date }}</td>
                                <td><a href="{{'/customer/order' | url:order.reference}}" style="text-decoration:none"><code>{{order.reference | reverse | truncate:8,'' | reverse}}</code></a></td>
                                
                                <td>
                                    {% case order.paymentStatus %}
                                        {% when 'PAYMENT_AUTHORIZED' %}
                                            {{ lang.authorized | def:'Authorized' }}
                                        {% when 'PAYMENT_PENDING' %}
                                            {{ lang.pending | def:'Pending' }}
                                        {% when 'PAYMENT_PARTIAL' %}
                                            {{ lang.partially_paid | def:'Partially Paid' }}
                                        {% when 'PAYMENT_CAPTURED' %}
                                            {{ lang.paid | def:'Captured' }}
                                        {% when 'PAYMENT_VOIDED' %}
                                            {{ lang.voided | def:'Voided' }}
                                        {% when 'PAYMENT_REFUNDED' %}
                                            {{ lang.refunded | def:'Refunded' }}
                                        {% when 'PAYMENT_PARTIAL_REFUND' %}
                                            {{ lang.partially_refunded | def:'Partially Refunded' }}
                                    {% endcase %}
                                </td>
                                {% comment %}
                                <td>
                                    {% case order.deliveryStatus %}
                                        {% when 'DELIVERY_PENDING' %}
                                            {{ lang.fulfilled | def:'Pending' }}
                                        {% when 'DELIVERY_SENT' %}
                                            {{ lang.fulfilled | def:'Sent' }}
                                        {% when 'DELIVERY_RECEIVED' %}
                                            {{ lang.partially_fulfilled | def:'Received' }}
                                        {% else %}
                                            {{ order.deliveryStatus }}
                                    {% endcase %}
                                </td>
                                {% endcomment %}
                                <td>{{ order.amount | money }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        {% assign product = products['cradle-cms'] %}
                        <div style="background-color:rgba(0,0,0,0.04);padding:1em;">
                            <p>{{ lang.you_havent_placed_any_orders_yet | def:"You haven't placed any orders yet." }}</p>
                            <a href="/checkout/?p={{product.id}}&v={{product.firstAvailableVariantId}}" class="btn white">Buy Cradle CMS</a>
                        </div>
                    {% endif %}
                </div>
                <div>
                    <h2 class="h3">Support</h2>
                    <p>If you need to reach us, send an email to <a href="mailto:support@cradlecms.com">support@cradlecms.com</a></p>
                </div>
            </div>    
            <div class="grid-item large--one-third">                
                <div>
                    <div class="grid-item medium--one-half" style="background-color:rgba(0,0,0,0.04);padding:1em;">
                        <h3 class="h4">{{ lang.account_details | def:'Account Details' }}</h3>
                        <div class="">
                            <small>Name</small>
                            <p>{{ customer.name }}</p>
                        </div>  
                        <div class="">
                            <small>Username</small>
                            <p>{{ customer.username }}</p>
                        </div>  
                        <div class="">
                            <small>Email</small>
                            <p>{{ customer.email }}</p>
                        </div>  
                    </div>
                    {% if customer.default_address != nil %}
                        <p>
                        {{ customer.default_address.address1 }}<br>
                        {% if customer.default_address.address2 != "" %}
                            {{ customer.default_address.address2 }}<br>
                        {% endif %}
                        {% if customer.default_address.city != "" %}
                            {{ customer.default_address.city }}<br>
                        {% endif %}
                        {% if customer.default_address.province_code != "" %}
                            {{ customer.default_address.province_code }}<br>
                        {% endif %}
                        {% if customer.default_address.zip != "" %}
                            {{ customer.default_address.zip | upcase }}<br>
                        {% endif %}
                        {% if customer.default_address.country_code != "" %}
                            {{ customer.default_address.country_code }}<br>
                        {% endif %}
                        {% if customer.default_address.phone != "" %}
                            {{ customer.default_address.phone }}
                        {% endif %}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .account-page h2 {
        margin-top: 2em;
    }
    
    .licence-card {
        margin-bottom: 1em;
        background-color:rgba(0,0,0,0.04);
        padding:1em;
    }
    
    .licence-card h3 {
        font-family: 'Orbitron', sans-serif;
    }
    .credentials {
        margin-top: 1em;
    }
    
    .credentials p {
        margin: 24px 0 0 0;
        font-size:0.8em;
    }
    
</style>
<script>
    
function copyKeyToClipboard(ev) {
    console.log(ev)
  let key = ev.id;
  navigator.clipboard.writeText(key)
}
</script>