<section class="p-10 mx-auto">
  <header class="flex justify-between">
        <h1 class="mt-2 text-2xl uppercase">{{ 'My Account' | t }}</h1>
        <p><!--a href="{{ 'customer/addresses' | url}}" class="btn btn-sm btn-outline">{{ 'View Addresses' | t }}</a--> <a class="btn btn-sm btn-outline" href="logout" >{{ 'Logout' | t }}</a></p>
  </header>
  <section>
    <div class="divider"></div>
  	<div class="w-full p-2 md:p-8">
  	    <p><a href="/customer/account">‹ {{ 'Return to Account' | t }}</a></p>
  	    <div class="m-8 p-2 pb-8 md:p-8 md:pb-12 bg-base-100 border border-base-300 rounded max-w-4xl mx-auto shadow">
  	        <div class="mb-4 p-4">
  	            <img class="mb-2" src="/logo.png" alt="logo" tabindex="0">
  	            <div>{{ site.name }}</div>
  	            <div>{{ site.organisation }}</div>
  	            <div>{{ site.location }}</div> 
  	        </div>
  	        <h2 class="text-2xl text-center mb-4 p-4">{{ 'Order' | t }} #{{ order.number }}</h2>
            <div class="grid grid-cols-2 lg:grid-cols-4 p-4 mb-4 bg-base-200">
                <div class="text-sm">{{ 'Order date' | t }}</div>
                <div>{{ order.createdAt | date }}</div>
                <div class="text-sm">{{ 'Reference' | t }}</div>
                <div class="font-mono">{{ order.reference | reverse | truncate:8,'' | reverse }}</div>
                <div class="text-sm">{{ 'Payment' | t }}</div>
                <div >{{ order.payment | split:'_' | last }}</div>
                <div class="text-sm">{{ 'Contact' | t }}</div>
                <div>{{ order.customerName }}</div>
                <div class="text-sm">{{ 'Email' | t }}</div>
                <div>{{ order.customerEmail }}</div>
                <div class="text-sm">{{ 'Country' | t }}</div>
                <div>{{ countries[order.country].name }} [{{ order.country }}]</div>
            </div>
  	        <div class="grid md:grid-cols-2 gap-4 p-4 mb-4">
  	            {%- if order.requiresShipping and order.shippingAddress != empty %}
  	            <div>
  	                <h3 class="font-bold text-base-content/50 text-sm">{{ 'Shipping address' | t }}</h3>
                    <p>{{ order.shippingAddress.recipients | join: '</p><p>' }}</p>
                    <p>{{ order.shippingAddress.addresses  | join: '</p><p>'}}</p>
                    <p>{{ order.shippingAddress.postalCode }} {{ order.shippingAddress.city }}</p>
                    <p>{{ order.shippingAddress.province }}</p>
                    <p>{{ countries[order.shippingAddress.country].name }} [{{ order.shippingAddress.country }}]</p>
  	            </div>
  	            {%- endif %}
  	            {%- if order.billingAddress != empty %}
  	            <div>
  	                <h3 class="font-bold text-base-content/50 text-sm">{{ 'Billing address' | t }}</h3>
  	                <p>{{ order.billingAddress.recipients | join: '</p><p>' }}</p>
                    <p>{{ order.billingAddress.addresses | join: '</p><p>' }}</p>
                    <p>{{ order.billingAddress.postalCode }} {{ order.billingAddress.city }}</p>
                    <p>{{ order.billingAddress.province }}</p>
                    <p>{{ countries[order.billingAddress.country].name }} [{{ order.billingAddress.country }}]</p>
  	            </div> 
                {%- endif %}
  	        </div>
      	    <div class="overflow-x-auto">
      	      <table class="table">
      			<thead>
      				<tr>
      					<th class="text-left">{{ 'Product' | t }}</th>
      					<th class="text-center">{{ 'Price' | t }}</th>
      					<th class="text-center">{{ 'Quantity' | t }}</th>
      					<th class="text-right">{{ 'Amount' | t }}</th>
      				</tr>
      			</thead>
      			<tbody>
      				{% for item in order.items %}
      				<tr id="{{ item.id }}">
      					<td>
      						{{ item.title }}
      					</td>
      					<td class="text-center">{{ item.price | money }}</td>
      					<td class="text-center">{{ item.quantity }}</td>
      					<td class="text-right">{{ item.amount | money }}</td>
      				</tr>
      				{% endfor %}
      			</tbody>
      			<tfoot>
      				<tr>
      					<td colspan="3" class="text-right">{{ 'Subtotal' | t }}</td>
      					<td class="text-right">{{ order.amount.sub | money }}</td>
      				</tr>
  					<tr>
  						<td colspan="3" class="text-right">Taxes</td>
  						<td class="text-right">{{ order.amount.vat | money }}</td>
  					</tr>
      				{% if order.requiresShipping %}
      				<tr>
      					<td colspan="3" class="text-right">{{ 'Shipping' | t }} ({{ order.shipping.carrierName }})</td>
      					<td class="text-right">{% if order.shipping.cost.total > 0 %}{{ order.shipping.cost.total | money }}{% else %}{{ 'FREE' | t }}{% endif %}</td>
      				</tr>
      				{% endif %}
      				<tr class="text-lg">
      					<td colspan="3" class="text-right"><strong>Total</strong></td>
      					<td class="text-right"><strong>{{ order.totalAmount | money }}</strong></td>
      				</tr>
      			</tfoot>
      		  </table>
      	    </div>
  	    </div>
  	</div>
  </section>
</section>

