<section class="p-10 prose mx-auto">
    <div class="card shrink-0 w-full max-w-m {{ settings.general_shadow }} bg-base-200">
        <h3 class="text-center">Create account</h3>
        {% form 'customer_register' %}
          {% include 'formErrorsCustom' %}
    
          <label for="first_name" class="hidden-label">{{ lang.first_name | def:'First Name'}}</label>
          <input type="text" value="" name="customer[firstname]" id="first_name" placeholder="{{ lang.first_name | def:'First Name' | escape }}" {% if form.errors contains "first_name" %} class="error"{% endif %} autocapitalize="words" autofocus>
    
          <label for="last_name" class="hidden-label">{{ lang.last_name | def:'Last Name'}}</label>
          <input type="text" value="" name="customer[lastname]" id="last_name" placeholder="{{ lang.last_name | def:'Last Name' | escape }}" {% if form.errors contains "last_name" %} class="error"{% endif %} autocapitalize="words">
    
          <label for="email" class="hidden-label">{{ lang.email | def: 'E-mail' }}</label>
          <input type="email" value="" name="customer[email]" id="email" placeholder="{{ lang.email | def: 'E-mail' | escape }}" {% if form.errors contains "email" %} class="error"{% endif %} autocorrect="off" autocapitalize="off">
    
          <label for="password" class="hidden-label">{{ lang.password | def: 'Password' }}</label>
          <input type="password" value="" name="customer[password]" id="create_password" placeholder="{{ lang.password | def: 'Password' }}" {% if form.errors contains "password" %} class="error"{% endif %}>

            <input type="submit" value="{{ lang.create_an_account | def: 'Create Account' | escape }}" class="btn btn-primary">
            <p class="text-center"><small>{{ lang.or | def:'or' }} <a href="/" >Return to store</a></small></p>
    
        {% endform %}
    </div>
</section>