<section class="p-10 prose mx-auto">
    <div class="card bg-base-100 text-base-content shrink-0 w-full max-w-m {{ settings.general_shadow }}">
        {% unless reset %}
            <div class="card-body text-center">
                <h3>{{ 'Reset token invalid!' | t }}</h3>
                <p class="text-xl">{{ 'The password reset has probably expired, <br>already been used or deleted.' | t }}</p>
                <a class="mt-2" href="{{'customer/login' | url}}">{{ 'Back to login' | t }}</a>
            </div>
        {% else %}
  		{% form 'customer_password_reset' onSuccess:'/login' %}
            <div class="card-body">
                <h3 class="text-center">{{ 'Reset password' | t }}</h3>
  			    <p  class="text-center">{{ 'Enter a new password' | t }}</p>
  			    {% include 'formErrorsCustom' %}
  			    <input type="hidden" name="reset" value="{{reset.id}}">
                <input type="hidden" name="token" value="{{reset.token}}">
  			    <div class="form-control">
                    <label class="floating-label{% if form.errors contains 'password' %} input-error{% endif %}">
                        <span>{{ 'Password' | t }}</span>
                        <input class="input w-full" type="password" name="customer[password]" value="" placeholder="{{ 'Password' | t }}" autocorrect="off" autocapitalize="off" required />
                    </label>
                </div>
  			    <div class="form-control">
                    <label class="floating-label{% if form.errors contains 'password_confirmation' %} input-error{% endif %}">
                        <span>{{ 'Confirm password' | t }}</span>
                        <input class="input w-full" type="password" name="customer[password_confirmation]" value="" id="password_confirmation" placeholder="{{ 'Confirm password' | t }}" autocorrect="off" autocapitalize="off" required />
                    </label>
                </div>
  				<input type="submit" class="btn btn-primary" value="{{ 'Reset password' | t }}">
  		{% endform %}
        {% endunless %}
  </div>
</section>