<!DOCTYPE html>
<html data-theme="{{ settings.daisy-theme }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ site.name }}{% if metaTitle != blank and metaTitle != site.name %} | {{ metaTitle }}{% endif %}</title>	
        {% if metaDescription %}
        <meta name="description" content="{{ metaDescription | escape }}" />
        {% endif %}
        {% if metaKeywords %}
        <meta name="keywords" content="{{ metaKeywords | escape }}" />
        {% endif %}
        <link rel="canonical" href="{{ canonicalUrl }}" />
        {% if settings.css_dev_mode == "development" %}
        <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="{{ 'typography.css' | asset_url }}">
        {% else %}
        <link rel="stylesheet" type="text/css" href="{{ 'output.css' | asset_url }}">
        {% endif %}
    </head>
    <body id="{{ meta.title | handle }}" class="bg-{{ settings.body_colors }} text-{{ settings.body_colors }}-content flex flex-col min-h-[100vh] justify-between {% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | split: ' ' | first | handle }}">
        {{ 'alpine.min.js' | script_tag }}
        <div class="mx-auto max-w-full">
            <div id="main-content" class="container mx-auto pb-2 checkout">
                <div class="w-full flex relative place-items-center justify-center gap-4 py-4 md:min-w-4xl">
                	<a class="flex flex-col text-center ml-2 absolute left-0" href="{{ request.referer }}" >
                    	<span class="btn btn-sm btn-link">&larr; {{ 'Back to shop' | t }}</span>
                    </a>
                    <a class="p-2" href="{{ site | url }}">
                        <img class="h-8 w-auto ml-auto" src="/logo.png" alt="{{ site.name }} logo" tabindex="0">
                	</a>
                </div> 
                {{ contentForLayout }}
            </div>
        </div>

        <div class="text-center mt-4 bg-base-200 pb-10">
            {% if settings.coMessage %}
            <div class="text-center bg-neutral text-neutral-content p-4">
                <p>{{ settings.coMessage }}</p>
            </div>
            {% endif %}
            {% if settings.termsLinklist %}
            <div class="flex justify-center mt-8 gap-8">
                {% assign termsNav = settings.termsLinklist | def: "main-menu" %}
                {% for link in navigation[termsNav].links %}
                    <a class="link text-sm" href="{{ link.url }}">{{ link.title }}</a>
                {% endfor %}
            </div>
            {% endif %}
            <a class="link mt-6 block" href="/"><span>{{ 'Return to frontpage' | t }}</span></a>
        </div>
    </body>
    {{ 'shop.js' | script_tag }}
</html>
