<!DOCTYPE html>
<html data-theme="{{ settings.daisy-theme }}">
    <head>
        <meta charset="utf-8" />
        {% if settings.content-security-policy-usage %}
        <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ site.name }}{% if meta.title != blank and meta.title != site.name %} | {{ meta.title }}{% endif %}</title>	
        <link rel="canonical" href="{{ canonicalUrl }}" />
        {% if settings.favicon_enable %}
        <link rel="icon" href="/favicon.ico">
        <link rel="icon" type="image/png" sizes="64x64" href="/favicon.png">
        {% if settings.favicon_svg %}
            <link rel="icon" href="{{ settings.favicon_svg | asset_img_url }}" type="image/svg+xml">
        {% endif %}
        {% endif %}
        {% unless settings.branding-theme-color-light == empty %}
            <meta name="theme-color" media="(prefers-color-scheme: light)" content="{{ settings.branding-theme-color-light }}" />
        {% endunless %}
        {% unless settings.branding-theme-color-dark == empty %}
            <meta name="theme-color" media="(prefers-color-scheme: dark)" content="{{ settings.branding-theme-color-dark }}" />
        {% endunless %}

        {% if settings.css_dev_mode == "development" %}
        <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="{{ 'typography.css' | asset_url }}">
        {% else %}
        <link rel="stylesheet" type="text/css" href="{{ 'output.css' | asset_url }}">
        {% endif %}
    </head>
    <body id="{{ meta.title | handle }}" class="bg-{{ settings.body_colors }} text-{{ settings.body_colors }}-content flex flex-col min-h-[100vh] justify-between {% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | split: ' ' | first | handle }}">
        {{ 'alpine.min.js' | script_tag }}
        <div class="mx-auto max-w-full w-[950px]">
            <div class="w-full flex relative place-items-center justify-center gap-4 py-4">
            	<a class="flex flex-col text-center p-2 absolute left-0" href="{{ request.referer }}" >
                	<span class="btn btn-sm btn-link">&larr; Back to shop</span>
                </a>
                <a class="p-2" href="{{ site | url }}">
                    <img src="/logo.png" alt="{{ site.name }} logo" tabindex="0">
            	</a>
            </div>            
            <div id="main-content" class="container mx-auto mt-4 px-2 pb-2 checkout">
                {{ contentForLayout }}
            </div>
        </div>

        <div class="text-center mt-4 bg-base-200 pb-10">
            {% if settings.coMessage %}
            <div class="text-center bg-neutral text-neutral-content p-4">
                <p>{{ settings.coMessage }}</p>
            </div>
            {% endif %}
            {% if settings.termsLinklist %}
            <div class="flex justify-center mt-8 gap-8">
                {% assign termsNav = settings.termsLinklist | def: "main-menu" %}
                {% for link in navigation[termsNav].links %}
                    <a class="link text-sm" href="{{ link.url }}">{{ link.title }}</a>
                {% endfor %}
            </div>
            {% endif %}
            <a class="link mt-6 block" href="/"><span>Return to frontpage</span></a>
        </div>
        <!-- small>Host:{{ request.host }} | Origin:{{ request.origin }} | Path:{{ request.path }} | Query:{{ request.query }} | Referer:{{ request.referer }} | Scheme:{{ request.scheme }}</small -->
    </body>
    {{ 'shop.js' | script_tag }}
</html>
