<!DOCTYPE html>
<html data-theme="{{ settings.closedDaisyTheme }}" class="text-base-content">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
        <title>{{ site.name }}</title>	
        {% if metaDescription %}
        <meta name="description" content="{{ metaDescription | escape }}" />
        {% endif %}
        {% if metaKeywords %}
        <meta name="keywords" content="{{ metaKeywords | escape }}" />
        {% endif %}
        <link rel="canonical" href="{{ canonicalUrl }}" />
        <script type="application/ld+json">
            {% include 'structured-data' %}
        </script>
        {% include 'open-graph-tags' %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="/favicon.ico">
        <link rel="icon" type="image/png" sizes="64x64" href="/favicon.png">
        <link rel="stylesheet" type="text/css" href="{{ 'output.css' | asset_url }}">
        <link rel="stylesheet" type="text/css" href="{{ 'custom.css' | asset_url }}">
    </head>
    <body class="text-base-content flex flex-col justify-between min-h-[100vh] {% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | split: ' ' | first | handle }}">
        <div class="hero min-h-screen" style="background-image: url({{ settings.closedBgimage | asset_img_url:'1024','0' }});">
          <div class="hero-overlay bg-opacity-10"></div>
          <div class="hero-content text-center card bg-{{ settings.closedDialogColors }} text-{{ settings.closedDialogColors }}-content m-4">
            <div class="max-w-xl">
                <header class="p-8">
                  {% if settings.closedFgimage %}
                    <img class="mx-auto mb-5" src="{{ settings.closedFgimage | asset_img_url: settings.closedFgimageSize,'0' }}">
                  {% endif %}
                  {% if settings.closedTitle %}
                    <h1 class="mt-5 mb-5 text-3xl lg:text-4xl font-bold">{{ settings.closedTitle }}</h1>
                  {% endif %}
                  {% if settings.closedText %}
                    <p class="mb-5">{{ settings.closedText }}</p>
                  {% endif %}
                  {% if settings.closedButtonLink and settings.closedButtonText %}
                    <a class="btn btn-primary mb-5" href="{{ settings.closedButtonLink }}">{{ settings.closedButtonText }}</a>
                  {% endif %}
              </header>
              {% if settings.closedSignupTrue %}
                {% if settings.closedDaisysignupTrue %}
                  <div class="card shrink-0 w-full max-w-m mb-5">
                        {% form 'signup' %}
                            <div class="card-body">
                                <p class="">{{ settings.closedSignupText }}</p>
                                {% if form.errors %}
                                    <div class="alert alert-error">
                                        <span>{{ 'Sorry, looks like something went wrong, please try again.' | t }}</span>
                                    </div>
                                {% endif %}
                                {% if form.success %}
                                    <div class="alert alert-success">
                                        <span>{{ 'Thank you for signing up!' | t }}</span>
                                    </div>
                                {% else %}
                                <div class="form-control">
                                    <label class="{% if form.errors contains 'email' %} input-error{% endif %} flex items-center gap-2">
                                      <input type="email" name="email" class="grow  input input-bordered" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Email" autocorrect="off" autocapitalize="off" required />
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary">{{ 'Send' | t }}</button>
                                {% endif %}
                            </div>
                        {% endform %}
                    </div>
                {% else %}
                    <div class="mb-5">
                        <p class="">{{ settings.closedSignupText }}</p>
                        {% form 'signup' %}{% endform %}    
                    </div>
                {% endif %}
              {% endif %}
              {% if settings.closedSocialTrue %}
                <div class="grid grid-flow-col gap-4 justify-center mb-5">
                    {% include 'socialmedia-icon-links' %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
    </body>
</html>
