<!DOCTYPE html>
<html data-theme="{{ settings.daisy-theme }}">
    <head>
        <meta charset="utf-8" />
        {% if settings.content-security-policy-usage %}
        <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{{ site.name }}{% if meta.title != blank and meta.title != site.name %} | {{ meta.title }}{% endif %}</title>	
        {% if metaDescription %}
        <meta name="description" content="{{ metaDescription | escape }}" />
        {% endif %}
        {% if metaKeywords %}
        <meta name="keywords" content="{{ metaKeywords | escape }}" />
        {% endif %}
        <link rel="canonical" href="{{ canonicalUrl }}" />
        
        {% if template == 'index' %}
        <script type="application/ld+json">
            {% include 'structured-data' %}
        </script>
        {% endif %}
        {% include 'open-graph-tags' %}
        {% if settings.favicon_enable %}
        <link rel="icon" href="/favicon.ico">
        <link rel="icon" type="image/png" sizes="64x64" href="/favicon.png">
        {% if settings.favicon_svg %}
            <link rel="icon" href="{{ settings.favicon_svg | asset_img_url }}" type="image/svg+xml">
        {% endif %}
        {% endif %}
        {% unless settings.branding-theme-color-light == empty %}
            <meta name="theme-color" media="(prefers-color-scheme: light)" content="{{ settings.branding-theme-color-light }}" />
        {% endunless %}
        {% unless settings.branding-theme-color-dark == empty %}
            <meta name="theme-color" media="(prefers-color-scheme: dark)" content="{{ settings.branding-theme-color-dark }}" />
        {% endunless %}

        {% if settings.css_dev_mode == "development" %}
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" type="text/css" href="{{ 'typography.css' | asset_url }}">
        <link rel="stylesheet" type="text/css" href="{{ 'daisy-full.css' | asset_url }}">
        {% else %}
        <link rel="stylesheet" type="text/css" href="{{ 'output.css' | asset_url }}">
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{{ 'custom.css.liquid' | asset_url }}">

    </head>
    <body id="{{ meta.title | handle }}" class="bg-{{ settings.body_colors }} text-{{ settings.body_colors }}-content flex flex-col justify-between min-h-[100vh] {% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | split: ' ' | first | handle }}">
        <div>
            {% include 'header' %}
            {% if template == "index" %}
                {% if settings.header_otf_section %}
                  {% include 'daisy-centered-hero' %}
                {% endif %}
                {% let indexContent = contentForLayout | strip_newlines | strip %}
                {% unless indexContent == "" %}
                  <div class="container max-w-8xl mx-auto mt-20 px-2 pb-10">
                    {{ contentForLayout }}
                  </div>
                {% endunless %}
            {% else %}
            <div class="container max-w-8xl mx-auto mt-20 px-2 pb-10">
                {{ contentForLayout }}
            </div>
            {% endif %}
        </div>
        {% include 'daisy-footer' %}
    </body>
</html>
