<!DOCTYPE html>
<html data-theme="{{ settings.daisy-theme }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ site.name }}{% if metaTitle != blank and metaTitle != site.name %} | {{ metaTitle }}{% endif %}</title>	
        {% if metaDescription %}
        <meta name="description" content="{{ metaDescription | escape }}" />
        {% endif %}
        {% if metaKeywords %}
        <meta name="keywords" content="{{ metaKeywords | escape }}" />
        {% endif %}
        <link rel="canonical" href="{{ canonicalUrl }}" />
        {% if template == 'index' %}
        <script type="application/ld+json">
            {% include 'structured-data' %}
        </script>
        {% endif %}
        {% include 'open-graph-tags' %}
        <link rel="icon" href="/favicon.ico">
        <link rel="icon" type="image/png" sizes="64x64" href="/favicon.png">
        {% if settings.css_dev_mode == "development" %}
        <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="{{ 'typography.css' | asset_url }}">
        {% else %}
        <link rel="stylesheet" type="text/css" href="{{ 'output.css' | asset_url }}">
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{{ 'custom.css.liquid' | asset_url }}">
    </head>
    <body class="bg-{{ settings.body_colors }} text-{{ settings.body_colors }}-content flex flex-col justify-between min-h-[100vh] {% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | split: ' ' | first | handle }}">
        {% comment %}AlpineJs needs to be here or it won't work{% endcomment %}
        {{ 'alpine.min.js' | script_tag }}
        <div>
            {% include 'siteHeader' %}
            {% if template == "index" %}
                {% if settings.header_otf_section %}
                  {% include 'indexHero' %}
                {% endif %}
                {% unless contentForLayout == "" %}
                  <div class="container max-w-8xl mx-auto px-2 pb-10">
                    {{ contentForLayout }}
                  </div>
                {% endunless %}
            {% else %}
            <div id="main-content" class="container max-w-8xl mx-auto mt-4 px-2 pb-10">
                {{ contentForLayout }}
            </div>
            {% endif %}
        </div>
        {% include 'siteFooter' %}
    </body>
    {{ 'shop.js' | script_tag }}
    {% component 'asearch.liquid' %}
    {% component 'alang.liquid' %}
    {% component 'acurrency.liquid' %}
</html>
