{% assign cartTitle = 'Shopping Cart' %}
{% title cartTitle %}
<section class="mx-auto max-w-[40rem]">
    <div class="card w-full {{ settings.general_shadow }}">
        <div class="card-body">
            <h1 class="text-center text-4xl font-bold pt-4">{{cartTitle}}</h1>
            {% if cart.items.size > 0 %}
            	{% form 'cart' class:'w-full border border-1 border-base-300 rounded p-4 mt-4' method:"POST" %}
            	    
            		{% for item in cart.items %}
            		    <div class="p-2 pb-4">
                		    {% let vt = item.title | split:'|' %}
                            <a href="{{item | url}}" class="flex items-top place-items-center">
                                <img src="{{item | product_img_url:'thumb'}}" class="rounded mr-2 w-12"/>
                                <h3 class="text-lg text-base-content">{{vt | first}}
                                {% if vt.size > 1 -%}
                                    <p class="text-xs -mt-2">
                                        <em>{{ vt | slice:1 | join}}</em>
                                    </p>
                                {% endif -%}
                                </h3>
                            </a>
                            <div class="flex flex-row w-full place-items-center">
                                <div class="flex flex-row place-items-center ml-auto">
                                    <div class="join mr-2">
                                		<button class="btn join-item btn-outline border-base-300" @click.prevent="$event.target.nextElementSibling.value > 0 && $event.target.nextElementSibling.value--">&minus;</button>
                                		<input class="input join-item text-center w-12" type="text" min="0" name="quantity[{{item.id}}]" id="updates_{{ forloop.index0 }}" value="{{ item.quantity }}" min="0" @change.prevent="if($event.target.value < 0) $event.target.value = 0">
                                		<button class="btn join-item btn-outline border-base-300" @click.prevent="$event.target.previousElementSibling.value++">&plus;</button>
                            		</div>
                            		<div class="text-sm">&times;&nbsp;{{ item.price | money }}</div>
                        		</div>
                    			<div class="flex-0 font-bold text-right ml-auto">{{ item.amount | money }}</div>
                            </div>            		        
            		    </div>
                        {% if item.quantity > item.variant.quantity %}<div role="alert" class="place-self-end pt-2"><p class="badge badge-soft badge-error">Wops, we only have {{ item.variant.quantity }} in stock!</p></div>{% endif %}
                        {% if item.quantity < 1 %}<div role="alert" class="place-self-end pt-2"><p class="badge badge-soft badge-error">Please remove the item, there is no in stock!</p></div>{% endif %}
            	    {% endfor %}
            			<div class="flex flex-col gap-4 border-t mt-4 pt-2">
        				    {% comment %}
        					    Optional, add a textarea for order notes
        						- Turn this on or off in the Theme settings. Default is off.
        				    {% endcomment %}
        					{% if settings.cartNotesEnabled %}
        					<div>
        						<label class="label text-sm pt-1" for="notes">{{ 'Leave instructions to seller' | t }}</label>
        						<textarea name="notes" class="textarea w-full">{{ cart.notes }}</textarea>
        					</div>
        					{% endif %}
        					<div class="w-full text-right text-base pt-4 pb-2">
        					    <p class="text-sm">Subtotal {{ cart.amount.sub | money }}</p>
        					    <p class="text-sm">Taxes {{ cart.amount.vat | money }}</p>
        					    <p class="text-lg pt-2">Total <span class="font-bold">{{ cart.amount.total | money }}</span></p>
        					</div>
        					<div class="flex flex-row flex-wrap justify-end w-full gap-2 items-baseline">
        					    <input type="submit" name="update" class="btn btn-sm btn-outline update-cart" value="{{ 'Update Cart' }}">
        					     <a href="/checkout" class="btn btn-sm btn-success">{{ 'Check out' }}</a>  
        					    <!--input type="submit" name="checkout" class="btn btn-sm btn-success" value="{{ 'Check out' }}"-->            					    
        					</div>
            			</div>
            		</div>
            	{% endform %}
            	 <a href="/" class="btn btn-link">Keep on shopping</a>
            {% else %}
            <div class="text-center p-4 pt-8">
                <p>Your cart is empty</p>
                <a class="btn btn-accent btn-lg m-4" href="/">Continue shopping</a>                
            </div>
            {% endif %}            
        </div>
    </div>
</section>