<section class="mx-auto">
    <header>
        <h1 class="mt-2 text-2xl">{{ 'Collections' | t }}</h1>
    </header>
    <div>
        {% if settings.colPageCollections.size > 0 %}
            {% for cols in settings.colPageCollections %}
                {% assign collection = collections[cols.collection] %}
                <section class="mt-10 mb-4">
                    <h2 class="text-3xl mb-4 font-bold">
                        <a href="{{ collection | url }}">{{ collection.title }}</a>
                    </h2>
                    {% if collection.html != blank %}
                    <p>{{ collection.html | strip_html | truncatewords: 20 }}</p>
                    {% endif %}
                    {% unless collection.products == empty %}
                    <div class="mt-10 grid collection-template-container gap-4">
	                    {% let productAmount = settings.colProductCount | def:"4" %}
                        {% let productHeight = 1375 | divided_by:productAmount %}
                        {% for product in collection.products %}
                            {% include 'productCard' %}
                    	{% endfor %}
            	    </div>
                    {% endunless %}
                </section>
            {% endfor %}
        {% else %}
            {% for collection in collections %}
            <section class="mt-10 mb-4">
                <h2 class="text-3xl mb-4 font-bold">
                    <a href="{{ collection | url }}">{{ collection.title }}</a>
                </h2>
                {% if collection.html != blank %}
                <p>{{ collection.html | strip_html | truncatewords: 20 }}</p>
                {% endif %}
                {% unless collection.products == empty %}
                <div class="mt-10 grid collection-template-container gap-4">
	                {% let productAmount = settings.colProductCount | def:"4" %}
                    {% let productHeight = 1375 | divided_by:productAmount %}
                    {% for product in collection.products %}
                        {% include 'productCard' %}
                	{% endfor %}
        	    </div>
                {% endunless %}
            </section>
            {% endfor %} 
        {% endif %}
    </div>
</section>
