{% if settings.homepage_page_show %}
<section class="index-page bg-base-100 text-base-content mt-10 rounded-box {{ settings.general_shadow }} md:w-auto lg:w-auto max-w-[65rem] mx-auto p-4 md:p-8 lg:p-8">
    <div class="">
        {% let p = pages[settings.homepage_page.id] %}
        <div class="text-xl {{ p.format }}">
            {{ p.html }}
        </div>
    </div>
</section>
{% endif %}
{% if settings.hompageCollEnabled %}
{% assign collection = collections[settings.homepageCollection.id] %}
<section>
    {% if settings.homepageCollHeading %}
    <header class="flex">
        <h2 class="text-3xl mb-4 font-bold">{{ settings.homepageCollHeading }}</h2>
        <a href="{{ collection | url }}" class="btn btn-sm ml-2">Go to all books</a>
    </header>
    {% endif %}
    {% unless collection == empty %}
        <div class="mt-10 grid collection-row-container gap-4">
    	{% for product in collection.products limit:5 %}
            {% include 'productCard' %}
    	{% endfor %}
    	</div>
    {% endunless %}
</section>
{% endif %}
{% if settings.link_grid_show %}
    <section id="link_grid" class="p-4 pt-16 mb-2 mt-10 items-center text-center">
        <h2 class="text-3xl mb-4 font-bold">{{ settings.link_grid_heading }}</h2>
        <div class="grid grid-cols-1 md:grid-cols-{{ settings.link_grid_column_amount_md }} lg:grid-cols-{{ settings.link_grid_column_amount_lg }} gap-4">
            {% for item in settings.link_grid_items %}
                <div class="card-body items-center text-center rounded-box {{ settings.general_shadow }} bg-base-100 text-base-content">
                {% if item.link_heading %}
                    <h4 class="card-title text-xl mb-4 font-bold justify-center">{{ item.link_heading }}</h4>
                {% endif %}
                {% if item.link_description %}
                    <p class="text-center grow-0 mb-4">{{ item.link_description }}</p>
                {% endif %}
                {% if item.link_url  %}
                <div class="card-actions justify-center">
                  <a href="{{ item.link_url }}" class="btn btn-primary">{{ item.link_text }}</a>
                </div>
                {% endif %}
              </div>
            {% endfor %}
        </div>        
    </section>
{% endif %}
{% if settings.grid_show %}
    <section class="p-4 mb-2 mt-10 text-center">
        <h2 class="text-3xl mb-4 font-bold">{{ settings.grid_heading }}</h2>
        <div class="grid grid-cols-{{ settings.grid_column_amount_md }} lg:grid-cols-{{ settings.grid_column_amount_lg }} gap-4">
            {% for item in settings.grid_items %}
                <div class="card-body p-2 justify-self-center bg-base-100 text-base-content rounded-box" id="item{{ forloop.index0 }}">
                    <img src="{{ item.image | asset_img_url:800,0 }}" alt="{{ item.image_alt }}"/>
                </div>
            {% endfor %}
        </div>        
    </section>
{% endif %}
{% if settings.section_banner1_show %}
    {% include 'indexBannerSections' %}
{% endif %}
{% if settings.homepage_blog_enabled %}
    {% assign blog = blogs[settings.homepage_blog.id] %}
    <section class="mt-10 mb-2">
        <h2 class="text-3xl mb-4 font-bold text-center">{{ blog.meta.h1 }}</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            {% unless blog == empty %}
            	{% for article in blog.articles limit:3 %}
                    {% include 'daisy-blog-card' %}
            	{% endfor %}
            {% endunless %}            
        </div>
    </section>
{% endif %}
