<section class="p-10 mx-auto flex flex-col items-center prose">
{% assign searchTitle = 'Search' %}
{% title searchTitle %}

{% form 'search' %}
    <div class="join">
        <input class="join-item input" type="search" onfocus="this.select();" name="q" value="{{ search.terms }}" autocomplete="off" placeholder="{{ searchTitle }}" />
        <select  class="join-item select" name="include" value="{{search.include}}">
            <option disabled selected>Filter</option>
            <option value="pages,articles" {% if search.include == 'pages,articles' %}selected{% endif %}>All</option>
            <option value="articles" {% if search.include == 'articles' %}selected{% endif %}>Articles</option>
            <option value="pages" {% if search.include == 'pages' %}selected{% endif %}>Pages</option>
        </select>
        <input type="hidden" name="filter" value="title">
        <input type="hidden" name="sorting" value="published-desc">
        <input class="join-item btn btn-primary" type="submit" value="{{ 'Search' }}">
    </div>
{% endform %}
    	
{% if search %}
    {% if search.totalCount == 0 %}
	<h4>{{ 'Your search for "%s" did not yield any results.' | insert:search.terms }}</h4>
    {% else %}
    <h4 class="mb-4">{{ 'Found %s ' | insert:search.totalCount }}{{ search.totalCount | pluralize:'item','items'}}</h4>
    {% endif %}
	
	{% if search.pages %}
	<h4>Pages ({{search.pages.size}})</h4>
	{% for page in search.pages limit:12 %}
	    <a href="{{ page | url }}">{{page.title}}</a>
    {% endfor %}
    
    {% endif %}
    
	{% if search.articles %}
    <h4>Articles ({{search.articles.size}})</h4>
	{% for article in search.articles limit:12 %}
	    <a href="{{ article | url }}">{{ article.title }}</a>
    {% endfor %}
    {% endif %}
{% endif %}

</section>
