<section class="p-10 mx-auto flex flex-col items-center">
{% assign searchTitle = 'Search' %}
{% title searchTitle %}

{% form 'search' class:'search' %}
        <input type="hidden" name="filter" value="title">
        <input type="hidden" name="sorting" value="published-desc">
    <div class="join">
        <input class="input join-item w-full" type="search" onfocus="this.select();" name="q" value="{{ search.terms }}" autocomplete="off" placeholder="{{ searchTitle }}" />
        <select class="select join-item" name="include" value="{{search.include}}">
            <option disabled selected>Filter</option>
            <option value="pages,articles" {% if search.include == 'pages,articles,products' %}selected{% endif %}>All</option>
            <option value="products" {% if search.include == 'products' %}selected{% endif %}>Products</option>
            <option value="articles" {% if search.include == 'articles' %}selected{% endif %}>Articles</option>
            <option value="pages" {% if search.include == 'pages' %}selected{% endif %}>Pages</option>
        </select>
        <button class="btn btn-primary join-item" type="submit">{{ 'Search' | t }}</button>
    </div>
{% endform %}
    	
{% if search %}
    {% if search.totalCount == 0 %}
	<h4>{{ 'Your search for "%s" did not yield any results.' | t | insert:search.terms }}</h4>
    {% else %}
    <h4 class="mb-4">{{ 'Found %s ' | insert:search.totalCount }}{{ search.totalCount | pluralize:'item','items'}}</h4>
    {% endif %}

	{% if search.products %}
	<h4>Products ({{search.products.size}})</h4>
	{% for product in search.products limit:12 %}
	    <a href="{{ product | url }}">{{product.title}}</a>
    {% endfor %}
    {% endif %}
	
	{% if search.pages %}
	<h4>Pages ({{search.pages.size}})</h4>
	{% for page in search.pages limit:12 %}
	    <a href="{{ page | url }}">{{page.title}}</a>
    {% endfor %}
    {% endif %}
    
	{% if search.articles %}
    <h4>Articles ({{search.articles.size}})</h4>
	{% for article in search.articles limit:12 %}
	    <a href="{{ article | url }}">{{ article.title }}</a>
    {% endfor %}
    {% endif %}
{% endif %}

</section>
